[2016-06-07 17:33] poteto opened #3 "Support promises returned by validators"

[2016-06-07 19:02] eventualbuddha commented on #3
I was *just* going to file this. Would allow this to work with [LGTM](https://github.com/square/lgtm).

[2016-06-07 19:04] poteto commented on #3
Very cool, I like how composable it is!

[2016-06-07 19:04] eventualbuddha opened #4 "How to handle lists of things?"
Let's say you have a model `A` that `hasMany` some other model `B`, and your form has a dynamic list of `B` that are editable all at once. How would you wire that up using ember-changeset? It seems like you'd want to have a changeset per `B` record as well and have the validation on the list of `B` be the aggregate of the child validation state, but… that sounds like lots of manual wiring, if it's

[2016-06-07 21:10] poteto opened #5 "Handle relationships"

[2016-06-07 21:10] poteto commented on #4
Good question! I think it would make the most sense for each model `B` to have its own changeset with its own validation, and not to have them apply to the entire list (although I could see someone trying to validate the length of the list for example).

On a sidenote, I think I need to implement relationship support (#5) before I can think of a better solution for this

[2016-06-07 21:11] poteto opened #6 "Expose errors object"
The `errors` array is useful for iterating through validation messages, but sometimes you want an easy way to find a validation directly. For example,

[code]

[2016-06-07 21:58] #6 closed

[2016-06-07 22:23] eventualbuddha commented on #3
Yep! It has similar problems to #4 though, i.e. how do you handle relationships between validated objects.

[2016-06-08 00:44] poteto opened #8 "#save should execute implicitly"
Chaining `execute().save()` is not good ergonomics. Calling `save` should execute the changeset and commit the change.

[2016-06-08 22:27] poteto opened #10 "Document creating changesets outside of templates"

[2016-06-09 15:01] #8 closed

[2016-06-10 18:49] #3 closed

[2016-06-10 18:49] #10 closed

[2016-06-10 19:38] poteto opened #19 "Required and optional fields support"

[2016-06-10 19:39] poteto opened #20 "Support merging changesets"

[2016-06-10 20:18] #19 closed

[2016-06-10 22:23] #20 closed

[2016-06-11 02:09] poteto opened #22 "#merge should not mutate changesets"
Make sure to assign both changesets to an empty object

[2016-06-11 18:37] poteto opened #24 "Think about handling constraints"
Needs some kind of server interaction and possible adapter implementation

[2016-06-12 01:03] #22 closed

[2016-06-15 20:03] poteto opened #31 "Remove use of `Symbol` for compat"

[2016-06-15 20:33] #31 closed

[2016-06-27 14:36] master-chu opened #40 "Restoring original text does not clear presence errors"
I'm Chris from zipcar, this is in reference to the comments made on ZC-416.

In when using a form-for textarea bound to a changeset object, if you completely cut the text out, a presence error appears as expected. However, pasting that same text back in does not clear the error. Any other text can be pasted in as long as it is not the original text.

[2016-06-27 21:37] poteto commented on #40
Thanks @master-chu, I have an idea on what is causing the issue. I'll have a fix shortly!

[2016-06-28 01:40] #40 closed

[2016-06-28 01:41] poteto commented on #40
@master-chu This is fixed in `0.10.3`.

[2016-07-02 13:48] dustinfarris opened #44 "value bug when used with ember-cli-materialize"
When using with [ember-cli-materialize](https://github.com/mike-north/ember-cli-materialize), e.g.:

[code]

The input value is constantly reset to empty.  If the errors binding is removed everything works.  I dug into both repos and not able to figure out where this is stemming from.

[2016-07-02 14:13] dustinfarris commented on #44
Here is a repo to demonstrate: https://github.com/dustinfarris/ember-changeset_issue-55

Specifically, the commit that reproduces: https://github.com/dustinfarris/ember-changeset_issue-55/commit/73af2895a2c2ed176c2fe78cad46651932609ce2

[2016-07-03 08:43] dustinfarris commented on #44
This is not an ember-changeset issue, it is a bug with ember-cli-materialize.

[2016-07-03 08:43] #44 closed

[2016-07-03 10:19] dustinfarris commented on #24
I'm thinking something like this (works sort of locally):

[code]

[2016-07-05 02:09] dustinfarris commented on #24
@poteto what do you think of this direction?  Should I start working on a PR or did you have something else in mind?

[2016-07-05 02:15] poteto commented on #24
I need to think about it a little more, ideally I would like a constraint to be caught prior to saving. But that would mean your API would need to have some endpoint for eg to check uniqueness for a given email address. And technically you could do that right now with an asynchronous validator

[2016-07-05 02:17] poteto commented on #24
The proposed solution is more of a feature to merge server side errors with the changeset, which could be a useful feature. It's not related to constraints in Ecto parlance though

[2016-07-05 02:27] dustinfarris commented on #24
Oh? My understanding is that this is precisely what Ecto constraints do.  From their docs:

Basically swap out "database" with "backend API" and that's what I'm trying to accomplish here.

[2016-07-05 04:32] poteto commented on #24
Ah yeah I got mixed up, my bad! My concern is that a server side error isn't necessarily always a constraint error, so it would not entirely be correct to call it a "constraint" on the addon's end. For example, having `uniqueConstraint` or `foreignKeyConstraint` methods on the changeset wouldn't be possible as we won't be able to tell from simply receiving the error response from the API. It would

[2016-07-05 06:12] dustinfarris commented on #24
#46 is nice and I definitely think you're right that extracting specific constraint errors is over reaching.  It would be nice to have a pluggable way to have ember-data model errors propagated to the changeset on save.  With addErrors the user has to inspect the JSON API errors manually and add them accordingly every single time.  Recall that ember-data already does this for us on record.save.  I

[2016-07-05 06:16] poteto commented on #24
Agreed, extracting errors that are already set on the model instance would be very useful. Pluggable approach sounds good to me too 👍

[2016-07-05 07:00] dustinfarris commented on #24
PR on its way

[2016-07-05 13:47] acburdine opened #48 "Support `isValid`, `isDirty`, `isInvalid`, `isPristine`, etc. for individual properties"
Something that would be a nice-to-have for Ghost's usage (currently refactoring the validations to use ember-changeset) would be methods (computed properties perhaps?) on the changeset object that allow checking of individual properties for valid/invalid/dirty states.

Based on the current structure this shouldn't be too terribly difficult, but wanted to make sure this is a desired feature before

[2016-07-05 20:55] poteto commented on #48
Do you need these properties in the template, in JS land, or both? Right now, there is a subset of the properties you listed:

Individual valid state: `changeset.change.firstName` will give you the changed value, and if a value is present then it is both valid and dirty for that prop
Individual invalid state: `changeset.error.firstName.{value,validation}` will give you the error object containing

[2016-07-06 00:10] acburdine commented on #48
After taking a crack at the validations usage, the property subsets will work just fine for the use-case I'm implementing.

However, if there's still interest in methods for determining state for individual properties, I'm happy to implement them 😄  I agree that individual CPs would be a lot for each virtual property (I was basing this a bit off of `ember-cp-validations`, which I had used before,

[2016-07-06 00:34] poteto commented on #48
Great! Those properties already exist on the changeset instance, so we'd need to give the methods a different name. I generally prefer `isFoo` naming conventions for predicate CPs / methods so I'm not super sure what I'd call these.

Random idea: what about something like this?

[code]

Then in changeset:

[code]

I think this would be kinda nice and still work if there is actually a value on `fir

[2016-07-06 00:36] acburdine commented on #48
That sounds like a good idea. I'll see what I can implement at somepoint later this week!

[2016-07-06 00:49] dustinfarris opened #49 "property not notified when using a validator"
I am getting the bug fixed in #47 when i pass a validator (either as an action or an ember-changeset-validators validation map).

[code]

[2016-07-06 01:00] poteto commented on #49
Can you make a twiddle to reproduce this issue?

[2016-07-06 01:03] poteto commented on #49
https://gist.github.com/e31a6415a4e3134770d6875d110da30a

Works as expected

[2016-07-06 01:14] #49 closed

[2016-07-06 05:05] dustinfarris opened #51 "addError overwrites existing error for key"
Is this intended behavior?  If so we should mention in the docs.

Also, as an aside, addError is given an array for `validation` message from ember-changeset-validations, but is given a string in the docs and test.  Is this something we care about and/or will care about in future development?

[2016-07-06 17:51] poteto commented on #51
Yes it is intentional. Would you like to open a PR for it?

It doesn't really matter what the value for `validation` is, it is dependent on the validation library. In the case of `ember-changeset-validations`, it's always an array. But in ember-changeset it doesn't have to.

[2016-07-06 18:21] poteto opened #53 "Setting invalid value should not return the value"
Should return `undefined` since it won't be set on the changeset's internal changes

[2016-07-06 19:10] poteto commented on #53
Seems like the value will always being returned when using `Ember.set`. Will have to reinvestigate if this is necessary.

[2016-07-06 19:10] #53 closed

[2016-07-07 20:45] #51 closed

[2016-07-09 07:02] poteto opened #58 "Snapshot and restore"
[code]

- Could even be used to implement crude undo/redo
- Needed to be able to rollback

[2016-07-09 23:02] acburdine opened #59 "Add ability to save changes to changeset regardless of validation status, and then validate on changeset.execute()"
So after building out all of Ghost's new validation functionality using this, I ran into an issue with this library that forced me to re-write a private method (which is bad practice 😁 ). Essentially, I found out that my changeset didn't contain the most recent changes, because only valid changes were actually persisted to the changeset.

This isn't a bug, because it says in the readme:

Here's th

[2016-07-09 23:19] poteto commented on #59
I'm not sure if I'm misunderstanding, but in my mind this doesn't feel like how ember-changeset works - I'm assuming on blur / focus out you run some kind of action to `validate(propertyName)`. If you then do `{{#if changeset.error.propertyName}}`, the `validation` attribute on that object should be the right error message (not that it is blank). For example, if you try out the [changeset demo](ht

[2016-07-10 02:32] dustinfarris commented on #59
@acburdine I had a similar issue using ember-changeset with [ember-paper](https://github.com/miguelcobain/ember-paper) where a paper-input component matches the value passed to it exactly—if the value is invalid, the input wouldn't reflect what the user is typing because the changeset attribute wasn't updated.

I don't think this is a shortcoming of ember-changeset, but rather a quirk of my use-ca

[2016-07-10 07:17] poteto opened #60 "validating single property causes value to rollback to last valid value"
To reproduce:

1. Enter invalid value in demo
2. Tab out
3. Input's value rollsback to last valid value

[2016-07-10 07:58] dustinfarris commented on #60
This occurs when validating the entire changeset as well.

[2016-07-10 09:26] poteto commented on #60
Good catch, thanks! I'm out today, but if anyone wants to have a stab at this, the `validate` method basically needs to only validate and set errors. If I'm not wrong the input resets because there is a change notified when validating, so it pulls the data again causing the reset to be the last (valid) value on `changes`.

[2016-07-10 11:11] acburdine commented on #59
@poteto I went and looked at the updated changeset, and was able to reproduce my error. Apologies for perhaps not explaining it well at first.

To reproduce the error on that twiddle, you must:

- Have a validatePresence _and_ another type of validation in the field
- Start off with a blank value
- Fill out the input with an invalid value
- tab/focus out

After which the error message will also in

[2016-07-10 12:55] dustinfarris commented on #60
Possible this is something else, and/or I am not testing this properly.

This is passing without any changes:

[code]

[2016-07-11 14:47] poteto commented on #60
It turns out this bug is semi-related to #59...

[2016-07-11 15:31] #60 closed

[2016-07-12 16:28] poteto commented on #59
@acburdine I believe this is fixed, try it out again on the demo!

[2016-07-13 01:25] hbrysiewicz opened #63 "Rollback should rollback all changes, even if invalid"
If a cset value is changed from a valid value to an invalid one an error is set within `addError` but this is not considered a `CHANGE`. Running `rollback()` on a cset should revert all changes, even the invalid ones.

[2016-07-13 06:27] dustinfarris commented on #63
I am not able to reproduce this.  rollback is reverting everything for me.  Can you provide more info on your usage?

[2016-07-13 10:15] #24 closed

[2016-07-13 10:15] #4 closed

[2016-07-13 10:23] #63 closed

[2016-07-13 14:38] acburdine commented on #59
@poteto Sorry for not replying sooner. I tested it out in the demo and it fixed the issue! However, I need to apply the update to my PR in Ghost to verify it there, once that's done I'll go ahead and close this 😄

Thanks for getting it fixed so quickly!

[2016-07-13 15:27] christophersansone opened #65 "Ember Data models remain dirty after a server error"
Hi there!

Love this addon.  Actually I love all of your addons, @poteto. Thank you for always providing such elegant solutions to common problems!

One of the main reasons I am using `ember-changeset` now is to handle rolling back ember data relationships.  Currently an ember data model can rollback attributes but not relationships, so this is a nice solution.

However, I have a use case with emb

[2016-07-14 18:35] ivanvanderbyl opened #66 "Conditional validations and fields"
I have a use case where some form fields are only required if a certain value is selected somewhere else in the form (in this case a checkbox). Upon investigating how validations and changesets work, I can see it's not so trivial to add support for this because not only do you need to not disable the validations, but you also need to ensure that field doesn't get propagated to the model on execute

[2016-07-14 19:33] poteto commented on #66
Hmm unless I'm misreading it, I think you could do this using ember-changeset-validations with a custom validator. Are you using that add-on for validations? This add-on is only the logic for the changeset itself.

[2016-07-15 08:01] ivanvanderbyl commented on #66
Hi @poteto ! I am indeed using `changeset-validations`, but as far as I can tell the individual validations don't receive a reference to the changeset, so there's no way to query the value of the checkbox during validation.

Upon thinking over this further, I don't think it's just disabling the validation that is needed, because in that case you might just return true and assume the attr in valid.

[2016-07-15 19:59] #58 closed

[2016-07-15 21:38] poteto opened #69 "undo redo"

[2016-07-16 02:37] brancusi opened #70 "How to handle validators that return promises"
Hi,

Wondering how I can handle validators that return promises.

Trying to create a validator that checks if a name is available by calling some `api/name_check` service.

https://ember-twiddle.com/d4ec3c55c540d6da68da36ba79250590?fileTreeShown=false&openFiles=validations.user.js%2C

If you type anything in `firstName` you will notice `[object Object]` instead of a passing validation.

I noticed

[2016-07-16 16:49] brancusi commented on #70
Simplified twiddle: https://ember-twiddle.com/d4ec3c55c540d6da68da36ba79250590?fileTreeShown=false&openFiles=validations.user.js%2C

[2016-07-18 15:27] poteto commented on #70
@brancusi Thanks for opening this issue. This is actually a bug in `ember-changeset-validations`, so I will close this issue and reopen it there.

[2016-07-18 15:27] #70 closed

[2016-07-18 15:28] poteto commented on #70
See https://github.com/DockYard/ember-changeset-validations/issues/51

[2016-07-18 16:09] poteto commented on #66
@ivanvanderbyl The validator function receives the `changes` object, which is a map of all the changes that have been made. Would that work? Also, this issue is probably more relevant on the `ember-changeset-validations` addon!

https://github.com/DockYard/ember-changeset-validations#writing-your-own-validators

[2016-07-18 18:18] ivanvanderbyl commented on #66
Yes, I noticed that, however `changes` alone aren't enough to solve this problem.

Imagine the scenario: You have a form with a conditional section, in this case it collects a bunch of EC2 configuration details like VPC ID, Security Group, AZ, and Subnets. These are all required fields only if the "Use EC2" checkbox is ticked, in which case they must send the default value of the model, which is `

[2016-07-18 18:18] #66 closed

[2016-07-18 18:30] poteto commented on #66
I see, my original intention for not passing in the `changeset` itself as a param to the validator function was to enforce a more functional approach with no side effects. Even the `changes` object that is sent to the validator function is a copy of the real object. The validator should only have 1 purpose.

I suspect your use-case would be better off handled by a custom action rather than in a va

[2016-07-18 18:48] ivanvanderbyl commented on #66
I  like that approach, oh and by validator I was actually referring to a custom validate action, not the validator function from `changeset-validations`.

This approach so far has one snag: you can't merge invalid changesets, which is probably something you want, but now I'm trying to think off a good way to keep track of multiple changesets, and aggregate their errors so that a single list of err

[2016-07-18 19:07] poteto commented on #66
I think I wouldn't mind merging invalid changesets, I was probably a little heavy handed there. Want to open a PR for it?

[2016-07-18 21:57] ivanvanderbyl commented on #66
You know, that would actually make this a lot easier. I'll create a PR in the morning :)

[2016-07-19 16:42] ivanvanderbyl opened #76 "Question: What is validationMap?"
In the method signature for `changeset(obj, validateFn = defaultValidatorFn, validationMap = {})`, what is the purpose of `validationMap` and why is it not documented?

[2016-07-20 00:58] dustinfarris commented on #76
A validation map is a POJO that maps your attributes to one or more validators.

See documentation in [ember-changeset-validations README](https://github.com/DockYard/ember-changeset-validations/blob/master/README.md)

[2016-07-20 17:37] acburdine commented on #59
@poteto Finally got around to updating ember-changeset in my PR, this issue has been fixed 😄

[2016-07-20 17:37] #59 closed

[2016-07-22 20:07] poteto commented on #76
Yeah it should be documented, I'll make an update

[2016-07-25 05:08] poteto commented on #65
Thank you, and sorry for the late reply!

I like the idea of `reverse`, I was thinking of implementing it as part of the undo/redo feature I'm working on. Basically we would have to figure out the original values for each key in the list of changes and store it somewhere, then try restoring those values when the changeset is executed.

Right now if you're using Ember Data, could you do what you wa

[2016-07-25 15:26] christophersansone commented on #65
Thanks for the response!  I didn't realize the changeset was not already storing the original values.  It seems like a property's original value could be stored when `set` is called, something like this:

[code]

Then the original values object would be reset upon `clear()`.

In Ember Data, `rollbackAttributes` works fine for basic attribute changes, but it does not rollback changes to relationshi

[2016-07-27 00:17] cafreeman opened #82 "Return a new object after applying a changeset"
A handy optional feature would be the ability to apply a changeset and have it return a *new* object, with the changes, (assuming they're valid). This way, we'd have the option to proxy over to the original model, *plus* the ability to apply changesets immutably and curry the result of changeset executions with other actions/functions.

If you want to point me in the right direction, I'd be happy

[2016-07-27 01:03] cafreeman commented on #82
Just kidding! After talking with @poteto it sounds like this is probably better suited to being a separate thing in one way or another, so I'm gonna go ahead and close this.

[2016-07-27 01:03] #82 closed

[2016-08-07 18:09] wolfbiter commented on #5
+1, im very interested in this. especially since i dont know of a good solution in the ember community to tracking dirtiness on relationship changes

[2016-08-10 02:36] brancusi opened #91 "isValid on init"
Hi,

Love this addon, thanks again for putting it together.

Question regarding isValid when you first create the changeset. Is there a way to have the changeset run it's validate function when it is first created?

I would like to be able to create a changeset and be able to test the isValid prop right away in the template.

Notice in this twiddle even though the model is invalid, it shows as val

[2016-08-13 01:12] gjastrab commented on #76
Also some clearer documentation on how to instantiate a changeset directly in a component JS file instead of only in a template would be good. I was playing around with this to try to understand it better and was wondering why my changeset with a blank value on `name` was not coming back as invalid within the validate() promise:

`app/validators/foo.js` just having a simple presence validator like

[2016-08-23 04:08] poteto commented on #91
Hey, you can just do `changeset.validate()` when it first renders. For example you could do that on the component's `didInsertElement` hook.

[2016-08-23 04:08] #91 closed

[2016-08-26 04:13] #76 closed

[2016-08-26 04:18] ivanvanderbyl opened #100 "addError should set errors as an array"
When calling validate with multiple validations on a property, `changeset.error.propertName.validations` is an array of messages. However, if you call `changeset.addError('propertyName', 'message')`, then `changeset.error.propertName.validations` will be a string.

This is inconsistent and makes it unclear how to handle validation messages for a property in the UI.

[2016-08-28 02:03] dustinfarris commented on #100
Related: https://github.com/DockYard/ember-changeset/pull/52#discussion_r69779078

[2016-09-01 14:35] fknoll opened #101 "Do not register a change when current "model.value" equals current "changeset.value""
I am totally in love with ember-changeset! Bravo!

I have this finding:

Given an empty changeset field in a template, e.g. {input type="text" value=changeset.familyName}}.

Via `controller.set('changeset', new Changeset(model))` this changeset is bound to a newly created `person` record.

Problem: ember-changeset registers a change after entering this empty field and leaving the field untouched.

[2016-09-01 19:50] poteto commented on #101
This used to be the way ember-changeset was implemented, but it would cause an issue where you could not "remove" a change by restoring a default value:

[code]

[2016-09-02 01:34] brancusi opened #102 "Async validator question"
Hi,

Is there a way to check if a changeset has changed since it was last validated?

Ideally setting any prop: `changeset.set('prop', 1)` will turn `changeset.get('isValid')` false, until all validators (async here is the issue) resolve.

This would allow us to disable UI until we know for certain that everything is resolved and valid.

Currently, if there is a slow async validator, the changeset

[2016-09-03 04:43] poteto opened #103 "Cast method"

[2016-09-03 04:43] poteto commented on #102
Hey, good question. Ideally it should be invalid during an async validation. I'll have to think about how to implement it in a nice way, but yeah I agree

[2016-09-03 04:45] poteto commented on #100
Yup, basically errors being in an array is a quirk from ECV and shouldn't be enforced by this addon. That said, perhaps an `addErrors` method could do so..

[2016-09-03 06:23] brancusi commented on #102
Excellent. Thank you

[2016-09-04 00:26] #103 closed

[2016-09-05 09:15] fknoll commented on #101
My position is purely conceptual - I think an attribute should not be on a change list, if the attribute has not effectively been changed by the user, and (even worse) I think an attribute should not be on a change list just because the user has tabbed though a field bound to the attribute - not typing anything in the field.

However, back to business. My aim is to create an intuitive and consiste

[2016-09-05 12:28] kaermorchen opened #106 "Error in version 1.1.1"
Hello.

This my code:

[code]

I catched an error - `You must use Ember.set() to set the `_changes` property`.

![2016-09-05_15-17-03](https://cloud.githubusercontent.com/assets/11972062/18247558/ef5a6fb0-737b-11e6-82f9-b90ad4ccab11.png)

This is cast function

![2016-09-05_15-25-18](https://cloud.githubusercontent.com/assets/11972062/18247725/d266a97c-737c-11e6-8cbc-fbaf2e2c57a4.png)

I use:
[cod

[2016-09-05 17:44] poteto commented on #106
Thanks, let me look into it

[2016-09-05 22:29] #106 closed

[2016-09-05 22:29] poteto commented on #106
Fixed in `1.1.2`

[2016-09-05 22:31] poteto commented on #101
Ah I see, thank you for sharing your use case! I think I can fix the logic for `isPristine` / `isDirty`.

[2016-09-06 00:03] poteto commented on #101
Can you give 19f42b30133b5efb26fb657c24a189c4177db916 a whirl @fknoll and let me know if that fixes the issue for you? `isPristine` should now work correctly.

[2016-09-06 00:58] poteto commented on #102
Can you give d633440b0aafbeb0a1c484ca53b87aa60b244ad9 a whirl @brancusi? Let me know if that fixes the issue for you - `isValid` / `isInvalid` should now take into account any async validation running

[2016-09-06 13:58] fknoll commented on #101
@poteto, thank you so much for your effort on this issue.

I am a GitHub novice!

I executed this command in my project directory:
`ember install https://github.com/DockYard/ember-changeset.git#101-is-pristine-fix`

I got this warning:
`WARNING: Could not figure out blueprint name from: "https://github.com/DockYard/ember-changeset.git#101-is-pristine-fix". Please install the addon blueprint via "e

[2016-09-06 20:10] poteto commented on #101
Thanks for the feedback, I'll address it tonight!

[2016-09-06 21:02] brancusi commented on #102
Just want to add a scenario and see what your thoughts are.

Basically, I would like to run a `uniqueness` validation. This will hit an `unique_check` endpoint.

I see now that when I `changeset.set("prop", val)` it does indeed change the `isValid` to false until resolved, but here are a few concerns.

1. Debouncing the input. I currently debounce outside of the validator which leads us to the nex

[2016-09-07 16:45] lowski opened #110 "Skip validation on set"
Hi,
It's more if a question rather that the issue but I would like to know if it's (or will be) possible to skip the validation on property set?

If we hook ember-changest with form-for add-on we will get instant feedback on input change. However sometimes there is a case where you want to wait with validation and trigger it on submit. Is this currently doable?

[2016-09-07 18:10] poteto commented on #110
Not at the moment, but I could have that as an option

[2016-09-07 18:20] poteto commented on #102
Hmm, thanks for letting me know. It'll definitely be easier to visualize if you could make a simple twiddle

[2016-09-08 01:37] brancusi commented on #102
So check it out with a 1 sec delay: https://ember-twiddle.com/99807edeadef70a3de0973ab6b1a99f8?fileTreeShown=false&openFiles=validators.uniqueness.js%2C

Thanks

[2016-09-09 15:17] curtisgr commented on #5
@poteto have you made any progress toward this issue?

[2016-09-09 19:59] poteto commented on #5
This works

[2016-09-09 19:59] #5 closed

[2016-09-09 20:55] curtisgr commented on #5
Would you recommend this as a way to track dirtiness of relationships in general?  I understand this project is about bring similar APIs and concepts from Ecto changeset to Ember, but being able to track dirtiness of relationships to me is a significant bonus and valuable outside of the Ecto changeset stuff.

[2016-09-09 20:57] curtisgr commented on #5
To give some context, while I found this addon because I'm working with elixir and ember personally, my work uses django and ember, but would benefit from being able to track dirtiness of relationships.

[2016-09-10 21:18] GendelfLugansk opened #111 "Prepare gives an error"
Trying to use prepare, I get an error: vendor.js:29215 Uncaught Error: Assertion Failed: You must use Ember.set() to set the `_changes` property (of changeset:<project-name@model:load::ember522:1>) to `[object Object]`.

My code below:

    var changeset = this.get('changeset');
    changeset.prepare((changes) => {
        let modified = JSON.parse(JSON.stringify(changes));
        modified.signat

[2016-09-11 09:53] #111 closed

[2016-09-12 14:04] jklapuch opened #113 "Validation errors from another changeset"
Have you met someone with a problem when using multiple forms? I have a signup and login page and switch between them using the {{link-to}}, if one form generate validation errors (signup-form) and I switch to another (login-form I get validations errors from the previous form after changeset.validation() is executed.

login.hbs
[code]
signup.hbs:

[code]

route for login:

[code]

route for signu

[2016-09-13 07:17] poteto commented on #113
Thanks, any chance you can put that in an ember-twiddle?

[2016-09-13 10:22] jklapuch commented on #113
[ember-twiddle](https://ember-twiddle.com/707ca79873829c8bdb931903f45120b7)

It took me a little time to create this ember-twiddle, but does not work generally (I did it for the first time). Changeset is still valid, even if I put no values to form fields. Something is still wrong at my example. Open your console to show results.

[2016-09-13 11:14] fknoll opened #114 "Original/old value of a property of the changeset object"
In documentation for **change** at https://github.com/DockYard/ember-changeset#change it is written:

**You can use this property to locate a single change:**
[code]
But, I seems like `{{changeset.change.firstName}}` always contains exactly the same value as `{{changeset.firstName}}`.

I am not surprised to find the new value of `firstName` in `{{changeset.firstName}}`. I have no expectations abou

[2016-09-14 16:21] brancusi commented on #102
Hi @poteto, any ideas on this? Please let me know if you want a different scenario in a twiddle.

Thank you

[2016-09-16 14:49] bugant commented on #113
@jklapuch are you using `ember-changeset-validations`?

[2016-09-16 14:56] bugant commented on #113
@jklapuch in your twiddle you have to invert the order of the `addons` in `twiddle.json` by doing so validations start to work.

[2016-09-16 16:34] bugant commented on #114
@fknoll maybe the "bug" is in the doc's example... I mean you can have it like the following (supposing that you created the changeset starting from `model`):

    {{#if changest.change.firstName}}
       <p>You changed {{model.firstName}} to {{changeset.change.firstName}}!</p>
    {{/if}}

[2016-09-16 16:55] poteto commented on #114
Yeah the readme is out of date, I will fix it. Really I need to deprecate `changeset.change.foo` since `changeset.foo` gives you the same thing and will no longer always return the model's current value.

[2016-09-16 21:58] fknoll commented on #114
Thank you @bugant and @poteto - I got it :-)

I was under the impression that the `changeset` had a reference to the `model/object` used when I created/initialized the `changeset`.

To make my templates **as generic as possible**, I would prefer to reference the `changeset` for original/old values - not the `model/object` used when creating the `changeset`.

In addition, when I (further down the p

[2016-09-17 10:59] fknoll commented on #114
Well, on second thoughts, I do not really think this issue is closed …

From my point of view, it would be very helpful for `ember-changeset`  to support:

[code]

[code]

Additionally, I would prefer the changelist `changeset.changes` **not to include touches** (original value equal to current value), but **only real changes** (original value not equal to current value).

If relevant, a touchlist

[2016-09-20 14:07] curtisgr commented on #65
@christophersansone how are you handling tracking changes to the many side of the one-to-many relationship?  Take these two examples:

[code]

[code]

In the first case, pushing a record into the hasMany side of the relationship updates the changeset and the underlying model, but calling set on the belongsTo side of the relationship updates only the changeset (as desired) while leaving the underly

[2016-09-22 07:09] makepanic opened #115 "with ember >= 2.7.0 it's impossible to set undefined to an new changesets field"
With ember@2.7.0 the behavior of `Ember.set` was changed to not modify the host object if [the value is already there](https://github.com/emberjs/ember.js/blob/master/packages/ember-metal/lib/property_set.js#L62-L63).
That means if one does `a = {};Ember.set(a, 'foo', undefined);Object.keys(a)`, `a` won't have the `foo` key. ( see https://github.com/emberjs/ember.js/issues/14270 ).

In context of

[2016-09-22 08:10] poteto commented on #113
This might be a "troll" issue - you don't actually need to specify `ember-changeset` in your twiddle deps. `ember-changeset-validations` will be built by twiddle including `ember-changeset` already.

[2016-09-22 08:11] #113 closed

[2016-09-22 08:13] poteto commented on #115
This does affect `ember-changeset`, but ultimately I want the execution of a changeset to be aligned with how you would set properties on the model directly via `set` and `setProperties`. Let's take the discussion to that issue in ember core.

[2016-09-22 08:13] #115 closed

[2016-09-22 08:19] jklapuch commented on #113
Yes, ember twiddle is working now. But my original error doesn't show there, so I can't reproduce my problem :( I'll keep trying...

[2016-09-23 01:10] christophersansone commented on #65
@curtisgr Hmm, my understanding is that `ember-changeset` only tracks changes to the properties of the top-level object.  For example, calling `market.set('potato', potato2)` will be tracked, but calling`market.set('potato.color', 'brown')` will not be tracked.  The same is true for changing the contents of an array: replacing the entire array will be tracked, but changing the elements will not be

[2016-09-23 21:41] jonnedeprez opened #116 "resolution of changeset.save() isn't very useful"
I would expect that when writing
`changeset.save().then((result) => { ... })`
the result would be the saved underlying entity, but instead it resolves with the changeset itself, which is not very useful, because you already have the changeset in scope.

[2016-09-26 14:50] sudhirt4 opened #118 "Validation of associated models (Question)"
Hi,

I am using "ember-changeset" along with "ember-changeset-validation" for client side validation.
Going through the docs, I couldn't find any information regarding how changeset works with ember model association (belongsTo, hasMany).

Currently, I require validation of objects having hasMany relation to my model, Am I supposed to create changeset for every objects in the hasMany association ?

[2016-09-27 21:47] fknoll commented on #101
Realizing that `changeset.changes` currently is a not really a **"list of changes"**, but a **"list of touches"**, I have developed two util functions `ChangesetPropertyIsDefactoDirty` and `ChangesetIsDefactoDirty`.

I do not claim those two functions to be final/complete, but they serve my current purpose of tracking changes to an Ember Data model/record.

Here they are:

**// app/utils/changeset

[2016-10-03 23:10] bradcrawford commented on #114
Related to the above comment by @fknoll to not include touches, some odd behaviour that I have noticed is that after calling `changeset.validate()` immediately after the changeset has been created, (I am validating the initial state of the model) causes `changeset.isDirty` to be flagged true, even though there are no actual changes made. Is this intentional @poteto ?

[2016-10-04 22:50] offirgolan opened #120 "Ember CP Validations + Ember Changeset"
Hi there!

I have been working on an addon to integrate ember-cp-validations with ember-changeset. Unfortunately my lack of deep understanding of this library holds me back from releasing it into the wild. I was hoping someone here can do a quick review to make sure Im not doing anything too stupid or something that can be easily broken further down the line. Any help at all is appreciated 😄

➡️ [

[2016-10-06 12:41] dyoganand commented on #5
@poteto is this already available??? It doesn't seem to be so, correct me if I'm wrong!

I have a parent object A with a list of children B's (has-many association). I am doing `changeset A` and passing it to a component. Both A's properties and (in the list of B's) the B's properties are editable in the component. If I want to save, there are no issues. Now if I want to cancel the changes by `cha

[2016-10-07 09:08] lcoq commented on #110
:+1: for this feature, this is probably a bad UX to stress the user with some error messages on an input while the user has only written 1 character.

[2016-10-07 10:02] lcoq commented on #102
:+1:

Just my two cents because my needs are (almost) exactly the same. This is a really common scenario :

Given a form with an email input which needs a uniqueness validation check,

1. The user writes some characters in the email input
2. After some inactivity on this input (maybe 1s), the uniqueness email validation is triggered.

Then, either:

* The user has written some new characters => th

[2016-10-13 00:04] fotinakis commented on #100
Just a +1, I also just hit this and found that `addError` does not manage the `validations` key as an array like ECV does. Perhaps a `pushError` method?

[2016-10-15 00:01] #116 closed

[2016-10-15 00:03] poteto commented on #114
Are there errors on the changeset? @bradcrawford

[2016-10-15 00:17] #114 closed

[2016-10-17 18:42] #101 closed

[2016-10-17 18:53] poteto commented on #120
Added a link in #124, thanks for creating this!

[2016-10-17 19:01] #120 closed

[2016-10-17 19:05] poteto commented on #118
At the moment there isn't much support for `hasMany`s, but `belongsTo` relationships should work fine.

I'm unsure if a parent changeset should automatically create a changeset for each `hasMany` association. Could you share how you currently solve this?

[2016-10-19 16:25] kevinansfield commented on #100
I've also run into this, after the [ember-form-for fix](https://github.com/martndemus/ember-form-for/issues/113) was implemented my local validations were passing but as soon as I get validations back from the server using the [readme instructions](https://github.com/DockYard/ember-changeset#handling-server-errors) it blows up again.

[2016-10-19 17:13] fotinakis commented on #100
In case you're interested, here is my workaround to coalesce the errors into an array and only call addError once:

[code]

[2016-10-20 01:40] celicoo opened #126 "Using it without a component"
Hei,

I'm trying to use it without a component. Is it possible? That's how i'm doing:

route/login.js:

[code]

template/login.hbs:

[code]

controller/login.js:

[code]

Which is returning undefined.

Thanks in advance!

[2016-10-20 21:32] poteto commented on #126
`changeset` is not a property on your controller. I would recommend passing it into your action:

[code]

[code]

[2016-10-20 22:22] arturocadena opened #127 "Building a changeset from 'belongs-to' association (question)"
Hi,

I'd like to know if this is posible. I want to create a changeset from a belongs-to association. I have a User model associated to one Location. So, in my template I wrote this:

{{location-form changeset=(changeset model.location)}}

but that doesn't build the changeset properly.

Thanks.

[2016-10-21 00:59] #126 closed

[2016-10-21 09:13] poteto commented on #127
What do you mean by doesn't build the changeset properly?

[2016-10-21 23:00] arturocadena commented on #127
Sorry for the poor explanation. Specifically, when I call the method `save()` on the changeset object in my controller, nothing happens . Following a similar pattern as the documentation, I have something like this:

My two models

[code]

[code]

I load the user in a parent route

[code]

Then, I use the changeset helper passing the user's location

[code]

[code]

Finally,  my controller

[code]

[2016-10-22 00:46] poteto commented on #127
Ah I see. For now, would this work?

[code]

[code]

[2016-10-24 22:34] poteto commented on #100
See https://github.com/DockYard/ember-changeset/pull/128

[2016-10-25 15:47] #100 closed

[2016-10-27 14:58] Keeo opened #129 "Changeset is always pristine when invalid"
While working on my project I noticed that isPristine returns true when isValid is false. This is definitely not  expected. Is there any story behind this? [Here](https://github.com/Keeo/ember-changeset-is-pristine/pull/1/files) is full, working example.

[2016-10-28 23:55] fotinakis commented on #127
I might have more information on this bug, I think the bug is that `save()` delegation through to the model doesn't quite work when the changeset model is a `DS.PromiseObject` (which might happen if it's an async belongsTo).

For example, I hit this when I did:
[code]
And `model` was passed via a template, like:
[code]
...where `author` is an async belongsTo relationship on the `post` model. The b

[2016-10-31 15:09] jklapuch commented on #113
Hi,
it may help to others. My original error was caused by validations.

Login validation
[code]
Signup validation
[code]

You can see common element "EmailValidation",  through which login validation acquires attributes of signup validation. After transition from signup to login, login component shows:
[code]
Instead of only email and password validation functions. I'm so glad I found it. :)

[2016-10-31 15:21] jklapuch commented on #129
It is the opposite of isDirty. `pristine changeset is one with no changes.` But you can have an attribute of model that is required, the model behind changeset may be a new or empty and therefore does not have any value (valid or invalid). If you do need a button that is disabled until a value is filled, you can add `disable={{changest.isPristine}}`. Changeset starts with isPristine=true and isVal

[2016-10-31 16:46] Keeo commented on #129
But pristine changeset is clearly not one with no changes. Look at this example.
[code]

When the value is not valid `isPristine` returns `true`.

[2016-10-31 17:03] jklapuch commented on #129
Do you have a working example? It works differently for me. Without call any method on changeset, isPristine will be false when I type anything to my form.

[2016-10-31 17:08] Keeo commented on #129
Just quick check - do you have `v1.2.0`?

[2016-10-31 17:25] Keeo commented on #129
Anyway [here](https://github.com/Keeo/ember-changeset-is-pristine/pull/1/files) is full, working example. Just clone, `ember serve`, open `http://localhost:4200/` and check console output.

[2016-11-01 07:28] jklapuch commented on #129
Okay, now I see it and you're right. I see that the property `CHANGES `is updated only if the new value is valid. I see that isPristine is true when `CHANGES `is the same as the underlying object. So I agree with you that it's a little confusing when changeset can be set to an invalid value and isPristine remains true.

[2016-11-05 00:31] poteto commented on #129
@jklapuch I made it so `isPristine` only watches changes because errors will never get applied onto the model. So it's still "pristine" in the sense that nothing has changed. Does that make sense?

[2016-11-05 00:36] poteto commented on #127
Hmm, I'm unsure if a `changeset` should know about `DS.PromiseObject`. What if you resolved the promise prior to creating it?

[code]

[2016-11-05 00:37] poteto commented on #127
I suppose this makes for a poor experience though. I'll most likely update changeset so it can resolve a promise if one is passed into it as a model.

[2016-11-05 00:47] Keeo commented on #129
Why is it so hard to have `isPristine` work like described in docs :(

[2016-11-05 00:47] #129 closed

[2016-11-05 01:04] poteto commented on #129
I'm not sure what the confusion is, "pristine" means that the model will be left unchanged if the changeset is executed. In the example you posted above:

[code]

The second `set` will clear the first change and make it an error instead. There are now no changes and one error on the changeset. In other words, the changeset is pristine!

What is the usecase that you need `isPristine` to be `false`

[2016-11-05 01:05] poteto commented on #127
Can you give https://github.com/DockYard/ember-changeset/pull/130 or https://github.com/DockYard/ember-changeset-validations/pull/106 a try and see if it works for you?

[2016-11-05 02:16] Keeo commented on #129
Sorry! I see where is problem now. Because english is not my native language and i don't think there is fitting word for it in my language I used `blackbox` in my mind as a substitution. So when you rewrite that statement with blackbox instead `A pristine blackbox is one with no changes.` it starts to make sense why I see `blackbox` that contains some internal changes that make it invalid as not p

[2016-11-05 05:24] arturocadena commented on #127
I will try this tomorrow. Thank you!

[2016-11-06 02:23] arturocadena commented on #127
Hi @poteto,

I tried to use your patch but I'm not sure if I did it well. I wrote this in my package.json:

[code]
Then, after remove the old node_modules and reinstall them, my 'use case' still doesn't work. But, again, I'm not sure if this is the right way to use your patch.

I also tried with commit ids in the package.json.

[2016-11-06 06:27] poteto commented on #127
Try

[code]

Can you also please `console.log` the `changeset` variable in your `submit` action?

[code]

[2016-11-07 15:06] gmarkv10 commented on #127
Hello all, I have also bumped up against this issue in the last week and might have a little more insight to offer. I am using your package as follows:

I have my validations file imported into the route, I pass it into a dialog in the route's template we use to create new MyModel object so it looks like:

`{{create-dialog
...
mymodel=(changeset model.myModel model.mymodelvalidations) relatedModel

[2016-11-07 20:05] arturocadena commented on #127
`console.log`output
[code]

[2016-11-09 19:40] bgentry commented on #101
I'm not sure this is working as expected. I created a fork of the ember-changeset-validations twiddle and updated it to point at the latest version of that addon. I also altered it so the object being created (the user Jim Bob) is valid from the start: https://ember-twiddle.com/65294d77c2da9f9c551b143170ca0574?numColumns=3&openFiles=routes.application.js%2Ctemplates.application.hbs%2Cvalidations.u

[2016-11-10 12:24] poteto opened #132 "`validate` should not set changes"
Currently, when calling `validate` on a changeset, all changes will also be set on the changeset. `validate` should only set errors.

[2016-11-10 12:25] poteto commented on #101
Thanks for reporting @bgentry, I have determined that the cause of the issue is actually the `validate` method. There is a bug now where calling `validate` will always set the changeset's list of changes - this should instead only set errors. I'm tracking that issue in #132 and will fix as soon as I can

[2016-11-14 08:56] TNAJanssen commented on #48
What is the current status?

[2016-11-14 14:13] remithomas commented on #118
+1

[2016-11-16 13:21] estshy commented on #48
@acburdine What you think about @TNAJanssen solution?

[2016-11-18 09:59] marxsk opened #133 "[doc] Best-practise to use with complex objects"
I'm using ember-changeset with more complex objects. Let's assume:

    this.properties = Ember.A();
    this.properties.pushObject({name: 'name', level: 'advanced', type: 'text', title: 'My Name', value: '123'});
    this.properties.pushObject({name: 'city', type: 'select', title: 'City', value: 'Brno', options: ['Brno', 'Praha', 'New York']});
    this.properties.pushObject({name: 'author', leve

[2016-11-18 19:01] Mithrilhall commented on #133
@marxsk Could you post what you're doing with computed properties? I'm running into the same problem.

[2016-11-18 20:09] marxsk commented on #133
@Mithrilhall Sure. I don't have a final commit on github yet but I had to create a component that encapsulate form generation to be able to use computed property.

    simpleProperties: Ember.computed('properties.@each.value', {
       get() {
       let ret = {};
       this.get('properties').forEach(function(x) {
          ret[x.get('name')] = x.get('value');
       });
       return ret;
    }}

[2016-11-21 01:40] bfitch opened #134 "Rolling back hasMany associations"
Hi there, thanks for this awesome library.

I may have found a bug with tracking changes to `hasMany` associations. For example, if I have a Foo model with a `users` hasMany association, and I update the `users` prop, there is no change logged in `changeset.changes()`. In my use case, I noticed this while trying to rollback changes on a `Foo` model.

Ember Twiddle reproducing the issue: https://em

[2016-11-21 23:05] Mithrilhall commented on #133
@poteto Is flattening the object the recommended way to deal with nested objects?

From:

[code]

To:

[code]

[2016-11-22 16:47] bfitch commented on #134
@poteto looking through past issues (https://github.com/DockYard/ember-changeset/issues/5), it seems like this should be supported?

[2016-11-29 15:05] jon-hall opened #136 "Not returning the full promise from Changeset#save causes unhandled rejections when save fails"
Spent a while debugging my API failure-case tests today (returning a 500 using mirage) as they were getting unhandled rejections, it eventually seems to be caused by `save` chaining a `then` call internally but returning the 'pre-`then`' promise.  This might be due to how `RSVP` works, or could be something else, but modifying `save` to return the 'full' promise like:

[code]
Stops the uncaught re

[2016-11-29 20:57] bfitch commented on #134
The problem was that I was mutating the association directly: `post.comments.pushObjects()` instead of through the "owner" model wrapped by the changeset `this.set('post.comments', [comments])` for example.

[2016-11-29 20:57] #134 closed

[2016-12-01 07:14] rikee312 opened #137 "validateConfirmation is now working if validateConfirmation field is left empty"
Here the code for it https://ember-twiddle.com/7e70cc65a019ce2fa1897daa0d3c13b3
It doesn't work if its `.validate('first_name', 'password', 'password_again')`
and its works if `.validate()`

[2016-12-01 15:34] BartTK opened #138 "Using ember-changeset with objects containing an array"
I want to use ember-changeset for an object containing an array. When I create a changeset based on the following model:

`
{
	"someField": "someValue",
	"someArray": [
		"value1",
		"value2"
	]
}
`

And I do a `changeset.set('someArray.0', 'newValue1')`, it does not work. Debugging shows that the new value is not registered as a change, but it is applied directly on the original model.

What happ

[2016-12-03 19:58] dustinfarris commented on #82
@cafreeman i am thinking about the same thing here.  did you ever go further with this?

[2016-12-03 21:22] poteto commented on #138
The support isn't great right now but essentially changeset expects you to create a new array and then set the property to refer to the new array

[2016-12-04 15:08] dustinfarris opened #139 "Return _content after `execute` instead of this"
Right now `changeset.execute()` [returns the changeset itself](https://github.com/DockYard/ember-changeset/blob/55cf62a006ee9edee5f25cc37c7e95188b3a78fa/addon/index.js#L157).  I am not sure how this return value is used in the wild.

I'm envisioning a DDAU flow where changeset is handed a copy of an object, and execute returns it with changes applied.

[code]

and somewhere else down the line in a

[2016-12-13 10:42] Geokoumpa commented on #91
Hey @poteto, thanks for your great addons. I am trying to use ember-changet-validations with ember-form-for, however when hitting submit whithout filling out any fields, the changeset is always valid (although it shouldn't) and save is executed. If I type something invalid, it works fine and errors are shown as expected.

Does this sound like a mistake of mine, an ember-form-for bug, or an ember-c

[2016-12-14 12:58] buschtoens opened #142 "Support `rollback` for individual properties"
Related to #48.

[2016-12-20 07:56] Nuzsk commented on #139
@dustinfarris perhaps it should be a new method of getting raw content object?

example:
[code]

[2016-12-26 14:15] viniciussbs commented on #118
@sudhirt4 I'll probably face this issue in the near future. Could you share with us how you currently solve this?

[2017-01-14 22:33] jaredgalanis opened #145 "model computed property not updating on changeset in template"
I have a computed property on a model (calculates a total of other properties). I have no issues using this CP on the model itself. However, in a template when calling the CP on the corresponding changeset, undefined is returned, which is not expected. When I get the appropriate context in the ember inspector I can call the CP on the changeset and the expected value is returned. Are we not able to

[2017-01-15 14:04] jaredgalanis commented on #145
I was attempting replace my use of my model in the above referenced template entirely with the changeset. I realized that I can get around this issue by using the model where data is not being submitted as part of a form (which is the case with the CP I'm having issues with).

[2017-01-15 14:04] #145 closed

[2017-01-17 15:23] edborden commented on #138
I just ran into this issue. I tried https://github.com/DockYard/ember-changeset/pull/141 unsuccessfully, so I followed @poteto 's suggestion above like so:
[code]
This successfully passes through any changes to `changeset.times` when `changeset.save()` is called, where before it was resetting.
Hoping to be able to drop this workaround in the future, but for now it's not too painful.

[2017-01-25 07:38] mydea commented on #132
This might be related with https://github.com/offirgolan/ember-changeset-cp-validations/issues/24?

[2017-02-09 18:37] ironkeith opened #146 "Make `isChangeset` public"
The `Changeset` class adds methods to the wrapped `Model`'s API.

When using the `changeset` helper to pass a model into a component `{{my-component model=(changeset model)}}` which also accepts the unwrapped model `{{my-component model=model}}`, there can be times where you need to check if you're dealing with a `Model` or a `Changeset`.

Having a public, supported method would be aces.

Seeing a

[2017-02-11 21:59] alexgaribay commented on #110
I would like to see this as option.

[2017-02-12 03:54] poteto commented on #110
Sure, but first I would like to get an idea of how this option be used – would it be more useful to validate after `x`length has been input on some property, or is this an option to only validate when explicitly called with `changeset.validate`?

[2017-02-12 06:23] alexgaribay commented on #110
For me, I'm just wanting to validate only when I call `validate` on the changeset. I was thinking something like https://github.com/alexgaribay/ember-changeset/commit/972413cfa5e23aac2c57cb47609f02e43addc48d with the disclaimer saying that the user is responsible for manually invoking `validate`.

[2017-02-12 11:12] lowski commented on #110
+1 for validation after explicit `validate` call.

[2017-02-15 20:19] #146 closed

[2017-02-16 14:44] karellm commented on #127
Is there any update on this? I actually ran into exactly this issue. I'd love to know if there is a fix or preferred way to handle this. Thanks!

[2017-02-16 15:15] mfazekas commented on #127
So for this example:

[code]

the issue is that `user.location` is an [PromiseObject](http://emberjs.com/api/data/classes/DS.PromiseObject.html) and it's not fully supported by changeset, i think the cleanest solution is something like this:

[code]

[2017-02-21 06:35] #127 closed

[2017-02-21 06:41] #132 closed

[2017-02-23 00:13] karellm commented on #5
@poteto I would greatly appreciate a pointer. Assuming I have an `post` that has many `tags`. When I'm editing the `post` and do `changeset.tags.pushObject(tag)`, it actually mutate the actual relationship. It would be nice to have a little bit of documentation on this support for relationships. Thanks!

[2017-02-23 00:14] dyoganand commented on #5
Dear reply+005eef0ea251a2bd355382ccbf872593225c0457bf54cec792cf0000000114c5eb4192a169ce097a8906,We would like to acknowledge that we have received your email request.Our HR representative will be reviewing your request and will send you a personal response shortly. (usually within 48 working hours).Thank you for your patience.Regards,sriramv966

FreshTeam , Applicant Tracking System powered by Fre

[2017-02-23 20:52] jfrux opened #149 "Error: underlying object for changeset is missing"
I'm having trouble figuring out the exact way to use it.
I've followed some tutorials but I'm getting this error...

Anybody seen this before?

I'm running latest ember version and latest ember-changeset version.

[2017-02-24 16:04] poteto commented on #149
How are you using it?

[2017-02-24 19:26] gordonbisnor opened #150 "Issue with ember data models and obj.hasOwnProperty(key) from last release?"
I'm running into an issue where I have ember-changeset and ember -changeset validations installed on a form:

- Orignal Field X value = FOO
- Set Field X to BAR
- Set Field X to FOO
- If I am using an input, value now equals FO
- User is thus unable to make a change and cancel it

I have been attempting to isolate this by removing other removing parts, and have also tested in a new project.

Not 1

[2017-02-24 20:11] gordonbisnor commented on #150
I see this line in index.js is the cause of my troubles:

[code]

Assume this is intentional behaviour and that I am thus missing some concept of how this is meant to work.

[2017-02-27 03:36] gordonbisnor commented on #150
Alternately, I notice that if I resolve my model's promise in the route's model hook before creating the changeset, I have no problem. Looks like this relates to code added in the most recent release 1.2.2

[2017-02-28 18:57] jbailey4 commented on #138
Does the same workaround apply to nested objects?

[2017-03-01 00:49] poteto commented on #138
@jbailey4 Yup!

[2017-03-02 14:17] jonblack opened #153 "Cannot set property on changeset back to model's initial value"
I have an `Item` model with a `share` field which can have one of three values: `public`, `friends`, and `private`.

I also have a component for creating/editing an item, which takes the changeset as a parameter:

[code]

In the route for creating an item, a new model instance is returned in the `model()` hook. Note that the record is created with `public` as the default value for the `share` attr

[2017-03-03 11:28] jonblack commented on #153
Looking at this a bit further, I think the problem is with the `_setProperty` function:

[code]

When `oldValue` equals `value` and you pass in a model, `hasOwnProperty(key)` returns false, so the changes don't get removed.

This is a regression added in commit 49fe967d4699d4117b7becfcc167f7958ce4f784 ten days ago. And issue #150 is related. The fix in #150 works but `key in obj` might match on so

[2017-03-03 18:28] gordonbisnor commented on #153
My feeling is that may be an issue when using ember data models, but not POJOs.

[2017-03-04 21:40] leondmello opened #154 "Ember change set object not being modified with mut helper"
I'm trying to use the `mut` helper to change the property of a changeset when a dropdown option is selected. The `mut` helper works fine if I use with a raw Ember model object. It doesnt seem to set some values when I use it with a changeset object.
This [repository](https://github.com/leondmello/ember-changeset-mut-bug) reproduces the issue.
There a two drop downs, one with a changeset and one wi

[2017-03-04 21:43] leondmello commented on #154
Might be a duplicate of https://github.com/DockYard/ember-changeset/issues/153

[2017-03-04 21:51] leondmello commented on #154
This bug was added in [1.2.2](https://github.com/DockYard/ember-changeset/releases/tag/v1.2.2)
1.2.1 is working fine

[2017-03-05 20:20] poteto commented on #154
Thanks for reporting! Will investigate.

[2017-03-08 09:14] jonblack commented on #149
I've seen this error when using the template helper and the model being passed in is `undefined`:

    {{my-component changeset=(changeset model)}}

I imagine the same error is also given if you do the same via javascript.

[2017-03-08 19:25] utilityboy opened #155 "Guidance on destroying underlying models..."
Hello,

Using ember-changeset with an underlying ember-data model, is there any guidance around destroying the underlying model?

Right now I'm doing something like `changeset._content.destroyRecord();`, but it feels kinda wrong.

Thanks for the nice library

[2017-03-08 21:56] poteto commented on #155
You should still have a reference to your original model, destroy that instead

[2017-03-08 21:56] #155 closed

[2017-03-08 22:42] poteto commented on #153
It's most likely the change to the logic in whether the oldValue is equal to the newValue, I'll look into it!

[2017-03-09 12:42] gordonbisnor commented on #153
@poteto  it looks like this line 457 of index.js may work with POJO but not Ember Data model?

[code]

[2017-03-10 09:21] Charizard commented on #115
Any temporary fix for the above mentioned `one-way-select` use case till `set` and `setProperties` are fixed in ember core?

[2017-03-16 19:22] karellm opened #156 "Regression in 1.2.2: defaultValue and booleans"
I'm using `one-way-checkbox` with `ember-changeset`. It looks like if I set a `defaultValue` on a model attribute, the checkbox acts all weird: [Twiddle](https://ember-twiddle.com/e4e5b5a08eb78927680e57a872f29c82).

I'm not sure if it is this project's fault or `ember-one-way-controls`, especially since it works fine if I don't use a changeset. I opened the same ticket there: https://github.com/Do

[2017-03-18 21:05] karellm commented on #156
It is really weird, I find myself in situation where I can't set `true` for a boolean value. It basically stay stuck to `false`. I would greatly appreciate some help on this issue! Thanks!

[2017-03-18 21:13] karellm commented on #156
I think I have identified a regression in `1.2.2`. [Here](https://github.com/DockYard/ember-changeset/commit/49fe967d4699d4117b7becfcc167f7958ce4f784#diff-7562eb8eba3c3d86a671045f8c70107eR455) when the boolean is `false` and changed to `true`, for some reason `oldValue` is `true` (should be false).

I'm reverting back to `1.2.1` for the time being and will try to submit a failing test case next we

[2017-03-20 10:29] dyoganand commented on #138
A computed property listening on an array property inside a changeset is triggered twice.

`watchDraft: Ember.computed('myChangeset.cc_emails.[]', function() {
  // triggered twice when cc_emails is being changed
})`

[2017-03-20 19:49] mattmarcum commented on #156
👍 I'm seeing this error trying to mod a model's boolean property, also using a default value.

https://ember-twiddle.com/4277931580090cea4b3efcec04ed0743/c16063240f222ab1bd1f66f02f62dd23e0867821?numColumns=0

[2017-03-20 19:53] karellm commented on #156
I updated the title to reflect that it is not related to `ember-one-way-controls`.

[2017-03-21 20:00] MarkPSmith opened #159 "Computed properties not working on changeset"
I think this is probably a duplicate of #145.  Basically, when I have a model that has computed properties, and create a changeset from it, the computed properties don't function on the changeset.  I've created a twiddle recreating this here:

[ember-changeset does not work with computed properties](https://ember-twiddle.com/85866dfbe0fdd00a340309f0662646de?openFiles=routes.application.js%2C)

Is

[2017-03-21 20:49] poteto commented on #159
It is not supported. A changeset is a representation of the changes that should be applied to a model, and not the model itself. If you **really** need to, you can define an ad-hoc computed on the changeset instance:

[code]

[2017-03-21 22:47] MarkPSmith commented on #159
That makes perfect sense.  Thank you!

[2017-03-21 22:47] #159 closed

[2017-03-22 17:07] MarkPSmith commented on #159
Just a follow up for anyone finding this in the future.  It turns out that the computed props on my model were really a code smell.  I had them there for display purposes only and it made more sense just to rewrite everything to put the display logic in the component instead.

[2017-03-23 07:45] minhnq013 opened #160 "Delete new model when call rollback()"
Hi,

I am currently using the changeset to wrap around new model record and to my surprise, when I called "rollback()" on the changeset the new model was not removed.

It is probably uncertain whether rollback should delete the record, but is it possible to provide a function that would have same behavior as "rollbackAttributes" of DS.Model ?

Thanks a lot for the great addon,

[2017-03-25 04:55] matthewvalimaki opened #161 "Validate in the background"
I have a use case where I want a button to be disabled until all validation requirements are met. While I can use `changeset.validate()` the problem with that is that it will throw errors that are shown in the UI for fields that are still pristine. And I do consider this to be correct behavior as it's the top-most level. However, I do not want validation results of those pristine fields to be show

[2017-03-30 19:32] arenoir opened #162 "Modified property twice in a single render"
I have run into a very hard to trace double render issue that seems to stem from the initial validation of one of my models.   This is in use with the `ember-changeset-validations` plugin.

I am instantiating the changeset within a computed property like so and am getting a double render error when used in a basic form.

[code]

If I remove the validationMap everything works.  Hence the question "

[2017-03-30 19:46] poteto commented on #162
I would not recommend creating a changeset in a CP, as it will be creating multiple changesets if that CP fires again (which is likely the cause of your double render issue). Please do it once on the `init` hook instead.

[2017-03-30 19:47] arenoir commented on #162
It happens in both init or a cp

[2017-03-30 19:48] poteto commented on #162
Stacktrace please?

[2017-03-30 19:51] poteto commented on #160
Please destroy the model directly instead. The changeset is not a replacement for the model, it's only a representation of the changes to be applied to a model.

[2017-03-30 19:51] #160 closed

[2017-03-30 19:53] arenoir commented on #162
Stack trace: https://gist.github.com/arenoir/2e1f53a39eb292309afef7bce3e0d384

FYI... I am changing a working form from using ember-cp-validations to ember-changeset-validations.

[2017-03-31 03:09] poteto commented on #162
How are you using `timeEntry.changeset.date`? The validationMap doesn't do anything when included in the changeset factory. It is only used when the `validate` method on the changeset is called.

[2017-03-31 03:21] arenoir commented on #162
It is very strange as I am only using `timeEntry.changeset.date` to display the date in the modal header.

There are a couple things going on. One the modal is rendered once, and then the form is updated when the model changes.  Two the bootstrap form is calling the validate method on render and rerender.

I just fond it strange that the whole thing worked when the validationMap was removed or act

[2017-03-31 03:32] poteto commented on #162
Could you use the `date` property on the model / object instead of the changeset? The changeset is really a representation of the _changes_ to be applied, and it shouldn't be used as a "double" for the model. I'm unsure what the cause of the double render is, but from what you describe it seems like it's being caused by the `validate` method being called. This validates and sets properties interna

[2017-03-31 03:47] arenoir commented on #162
Once working the date needs to trigger a date picker and reflect the change.  I didn't mean to blame   the changeset for the issue I was just trying to understand how it worked.  It appears that you can create a changeset with a model and a validate function?  Which leads to the question what is the validationMap?

[2017-03-31 03:53] poteto commented on #162
Yes, I understand, but the validation map on its own is not the cause for your double render. Somewhere in your application the changeset is being modified more than once in a single render. Because the `validate` method requires a validation map, when you leave it out `validate` becomes a no op. And as I mentioned earlier, `validate` will cause some internal properties to be set.

How is your boo

[2017-03-31 04:27] arenoir commented on #162
The following [addon](https://github.com/kaliber5/ember-bootstrap-changeset-validations/blob/master/addon/components/bs-form.js#L17) calls validate on init of the form.

I am still confused as to how the validations work with or without the validaitonMap?

[2017-03-31 04:42] poteto commented on #162
The changeset expects a function that returns a validator (ie what `lookupValidator` is returning) as a 2nd argument. The 3rd argument - the validation map - is optional.

None of the above is relevant to your issue. Do one of the following:

1. Override `bs-form` and make `_initValidation` a no-op
2. Remove the use of `timeEntry.changeset.date`

The combination of the 2 is the cause for the doubl

[2017-03-31 04:55] poteto commented on #162
And for more context about how the validator lookup function is used, please read the [usage section](https://github.com/DockYard/ember-changeset#usage) of the readme

[2017-03-31 05:24] arenoir commented on #162
Thank you and I apologize for my denseness. I understand that passing in the validationMap shouldn't affect the mutation of the changeset but for some reason it is.  Since it is optional and removing it fixes the issue I will do so.

The 'ember-changeset-validations' [readme](https://github.com/DockYard/ember-changeset-validations/blame/master/README.md#L102 ) describes placing the validations obj

[2017-03-31 18:13] arenoir commented on #162
So the `validationMap` is used only when calling the `validate` function on the changeset.  If the `validationMap` is empty the validate function does nothing even if you pass a key in.  However when attributes are mutated it will run the validation function for each modified attribute.  So I wouldn't say the `validationMap` is optional.  It seems obvious now but the `validationMap` is a list of a

[2017-03-31 18:13] #162 closed

[2017-04-03 16:19] remithomas opened #163 "Regression since 1.2.2 due to isEqual function"
We have a case where in our _changeset_ we set an array of models (relationships).
All changes aren't correct applied because [isEqual](https://github.com/DockYard/ember-changeset/blob/master/addon/index.js#L495) don't evaluate array of models.

Maybe is the same reason for https://github.com/DockYard/ember-changeset/issues/156 what do you think @bgentry ?

[2017-04-06 16:06] mdcoopir opened #168 "Changeset is not working in 2.10 and beyond"
We are using ember-changesets.  They are working in 2.9.1.  We tried to upgrade to the latest Ember version, but the changeset is not compatible with ember version 2.10.1, 2.11 or 2.12.  Where ever we have used the changeset object on a view, it renders empty and has no error logs in console.

[2017-04-07 02:38] poteto commented on #168
Needs more info on how you're using the addon. FYI the [demo](https://bit.ly/ember-changeset-demo) is running on `2.12` and it works fine.

[2017-04-10 12:59] timmyomahony commented on #156
I also noticed this using a checkbox `{{input ... type='checkbox' checked=changeset.isChecked}}` within a component. Reverting to v1.2.1 fixes the issue. Haven't tried 1.2.3 to see if the issue has been resolved.

[2017-04-16 01:07] eccegordo opened #171 "Question about complex use case"
HI

Trying to use ember changeset. Looks like a great library. Curious about some of the more advanced applications of this addon. Are there any somewhat complex use cases you could point me to or add in the documentation as reference examples?

In particular deeply nested objects and complex merge behaviors.

Also wondering about the changeset of changesets case. Can you roll a queue of changes a

[2017-04-17 06:50] ekawatani opened #172 "Can't attach event listeners to the changeset object"
I can't seem to attach events to a changeset object. In the [demo](http://bit.ly/ember-changeset-demo),  added a js file for the `validated-field` component, and added the `afterValidation` listener to the changeset passed to the component.

[code]

Looks great, but I get `TypeError: changeset.on is not a function` in the console. Isn't this how I should do this?

I want to use the `afterValidatio

[2017-04-18 18:31] SuperCoolFrog commented on #172
@ekawatani looks like the latest release does not include that change.
@poteto Would it take another PR to update the release?

[2017-04-19 19:15] ekawatani commented on #172
Thanks, that'll unblock me for now.

[2017-04-19 22:59] brandynbennett opened #174 "Support Warnings"
Context
--------
Using `ember-changeset-validations`. Our UI designs have a concept of showing "warning" messages that alert the user that their input may be less than desirable but isn't invalid. When a form field has a warning the data should still be allowed to be set on the model and the user should be allowed to submit successfully.

Desired Solution
-----------------
Ideally I would like to

[2017-04-20 14:56] hornetnz opened #175 "Can we point validate to a specific validation name?"
`
                        {{validated-field
                                type="text"
                                changeset=changeset
                                property="workEmail"
                                validateProperty=(action "validateProperty" changeset "workEmail")
                        }}
`

With the above, the action passes in the changeset and the propertyName 'workE

[2017-04-21 15:21] hornetnz commented on #138
This also appears to be a problem with rollback. Fields using a nested key don't revert. Does anyone know if the https://github.com/DockYard/ember-changeset/pull/140 changes will fix that?

[2017-04-21 19:02] fastfedora opened #176 "Empty POJO passes validation rules incorrectly"
If I create a Changeset with a POJO, it will pass validation rules that should normally fail.

For instance, the following should fail since the email is undefined, which is not a valid e-mail format:

[code]

A workaround is to set each value being validated to itself before performing the validation:

[code]

However, this workaround shouldn't be necessary.

I tried searching in the code to find

[2017-04-21 19:12] fastfedora commented on #176
Actually, it appears the same behavior occurs on a DS.Model record. It seems validation rules are only being run against the changed properties, rather than all of the properties. This means using validation rules to validate a new object requires the above hack.

It would be useful to pass in an option into `validate` that had the rules run against all of the properties.

[2017-04-23 10:19] ekawatani commented on #110
I feel like this should have been implemented as a property instead of an option. I have a case where I want to only enable the auto-validations after user has tried to submit a form and failed.

Right now, I'm working around it by changing `changeset._options.skipValidate`.

Any thoughts on adding this feature?

[2017-04-24 08:53] wmadden opened #177 "Manually adding errors to a property marks it as no longer dirty"
https://github.com/DockYard/ember-changeset/blame/master/addon/index.js#L356

When you call `pushErrors(key, ...)` it appears to deliberately clear the changes on that key. There's no explanation why this is, and it's problematic when you're adding server-side errors to the changeset because after calling `pushErrors()` all previously-changed but erroneous properties are no longer dirty. If there

[2017-04-26 15:32] janmisek opened #178 "Question: Is it possible to extend Changeset class ?"
I am looking into possibility to add custom computed properties on changeset.  Is it possible to extend Changeset class?

Thanks in advance.

[2017-04-26 18:14] SuperCoolFrog commented on #178
The addon exports the class which is an ember object that you can extend on.
I wrote this quick twiddle but it should point you in the right direction.
[Twiddle](https://ember-twiddle.com/e8db2f5a2165942e96e9378be3ebba57)

Extend API Guide
https://emberjs.com/api/classes/Ember.Object.html#method_extend

[2017-04-26 18:56] SuperCoolFrog commented on #176
@fastfedora You forgot the third parameter for the constructor of the changeset.

```new Changeset({}, lookupValidator(validations), validations);```

[Twiddle](https://ember-twiddle.com/93382dcfff7de6a960a35370ae0e6288?openFiles=controllers.application.js%2C)

[2017-04-27 09:19] janmisek commented on #178
Thanks alot for explanation I found myself yesterday.

I would also suggest to include this info in readme, because export of `changeset` class is nowhere documented, default export is "ember-non-extensible" constructror function.

Btw: why the original ember class is wrapped to classic js constructor function exported by default - is it to make original class semi-private or the reason is e.g typ

[2017-04-28 15:33] mdcoopir commented on #168
We found the problem.  We were using dots instead of slashes in the URL for the components.  Use slashes and everything works fine.

[2017-05-08 20:41] shakeebatme opened #180 "EMBER-CLI-MIRAGE test fails at execute() in changeset.save()"
Fails trace,

[code]
[code]

[2017-05-08 20:59] shakeebatme commented on #180
I commented out if condition from node-module  the Mirage Test case passes successfully without any issue. Please let me know the fix.

[2017-05-09 14:07] manuelsalvatori commented on #138
For me, the workaround doesn't work.
I have a model with two arrays, I tried different combinations of settings but in conjunction with a multi-select, when I change selections it doesn't update the changeset arrays correctly.

[2017-05-10 18:35] chekmare commented on #160
Unfortunately there is no easy way to access underlying model.

[2017-05-11 04:58] poteto commented on #160
You have to pass the model into the changeset, correct? If you keep that model variable around you can destroy it.

[2017-05-11 16:06] sandstrom commented on #168
@mdcoopir can this issue be closed?

[2017-05-11 19:08] kevlarr opened #182 "Better handling of fields with POJOs on `.save`"
We have a scenario where our changeset isn't disposable - we allow the user to make changes, save/preview them, make more if they want to, etc...

One of the properties on the model being edited is a POJO - I know that changesets don't have great support for that yet, so I manually copy it and reassign it.

[code]

All well and good; can mutate the changegset pojo without any repercussion.

The is

[2017-05-13 14:17] ynnoj opened #183 "skipValidate option not working with changeset helper"
Using the `changeset` helper with the `skipValidate` option does not return the expected result in `ember-changeset@1.2.3`.

[code]
`changeset.options.skipValidate` is `false` in the above example.

However using the `Changeset` class, the example below works as expected with `skipValidate` equalling `true`.

[code]

[2017-05-14 22:11] poteto commented on #180
What exactly is failing?

[2017-05-14 22:14] #168 closed

[2017-05-15 07:37] kszambelanczyk commented on #138
Poteto workaround works, but that gives us a changeset with dirty status, and that is problem too

[2017-05-19 18:37] Charizard commented on #118
Any updates on this? I am facing a similar issue!!

[2017-06-01 00:26] acburdine commented on #183
@ynnoj the reason the changeset helper is working is because you are using the one provided by ember-changeset-validations. I submitted a PR to fix that: DockYard/ember-changeset-validations#147

[2017-06-21 23:29] adambedford opened #187 "Better way of handling server-side errors?"
I see that #52 gives an example of adding server errors to the changeset so they are visible to the user but this strikes me as somewhat verbose, especially if it is required on many models/`save()` actions.

Is there a better way to approach this, perhaps by building it into the library? Or could something be accomplished with a service of some sort?

[2017-06-23 19:24] Baukereg opened #188 "Breaks with ember-data-model-fragments"
I'm trying to implement ember-changeset (and ember-changeset-cp-validations) in a project that also uses ember-data-model-fragments (https://github.com/lytics/ember-data-model-fragments). The subobjects that this add-on creates for arrays and fragments are set on the changeset object, but of course these are still hard references to the sub objects of the actual record.

Right now I'm trying to cr

[2017-06-25 15:20] ashrafhasson commented on #138
setting the changeset property to a new array doesn't seem to set `isDirty` on it.

[2017-06-26 17:28] BrennanRoberts opened #189 "Question: Best way to defer validation to blur, unless invalid."
The behavior we'd like for our form fields is:

1. When starting from empty, fields are only validated upon blur
1. Once a field becomes invalid, it is validated onchange
1. Once the field is valid, it is only validated upon blur

How is this best achieved with `ember-changeset`? I've accomplished 1 with a combination of `{ skipValidate: true }` and calling `changeset.validate(attr)` on blur. But

[2017-06-26 19:46] BrennanRoberts commented on #189
A different way to ask this question: when using `{ skipValidate: true }`, is there a "best" time to to call `changeset.validate(attr)` so that any `errors` get populated immediately after `ember-changeset` [clears them out](https://github.com/DockYard/ember-changeset/blob/e6509c778928e46fac7cded9f2182c704d702cc8/addon/index.js#L494)?

[2017-06-26 22:11] scazz010 commented on #69
Hi!

I extended ember-changeset to support history & undo/redo for a project - it's currently released as a separate addon - https://github.com/scazz010/ember-changeset-history

If you wanted to pull this into part of the core addon, I'd be happy to make a PR - but I'm not 100% sure it makes sense - extra code/memory usage for something that people don't seem to be asking for. Mostly, just pushing

[2017-06-27 00:00] BrennanRoberts commented on #189
We decided to use CSS to accomplish this.

[2017-06-27 00:00] #189 closed

[2017-06-29 18:20] yaodong commented on #91
I had the same issue. Calling `changeset.validate()` in `didInsertElement` didn't fix it.

It's turned out I forget the third argument when creating a Changeset in JavaScript.

[code]

[2017-07-05 08:30] Kuzirashi commented on #5
I doubt this works. _changes object on changeset shows relationship (belongs to) is dirty even when id (and record) is the same.

[2017-07-13 00:34] marclundgren commented on #149
I see this all the time in my test suite. I have no idea why it happens, and it causes false-negatives for my tests - worst of all, it's seemingly a race condition because it occurs non-deterministically.

[2017-07-13 00:35] marclundgren commented on #149
For me, when a test saves a new object, and transitions to a parent route, I see this error between the save and the transition.

[2017-07-27 07:38] g8anusha opened #195 "Update an already existing model/changeset"
Hi @poteto & others,

I am trying to have more than one validated-form in the page, for the same model, taking a changeset.
Different fields will be applicable for each form. But certain fields in one form, is a computed property of another form (the computed property is given in the model itself, so when we save / get, field is computed and received).

Since they are different forms, and each for

[2017-07-27 08:04] g8anusha commented on #195
Before model.save, the changes have all the field's value. When model.save is called, only the actually changed values are there. So, this cleans up the actual Ember Data model, and makes the other fields as empty.!!

[2017-07-30 01:04] erichonkanen opened #196 "How to handle "nonfield" error?"
Hello,

I have a use case where I want to display a "nonfield" error as part of my `{{dummy-form}}` template following along with the example. I'd like this error to display above the fields of the form and it's use case is for e.g. `"could not login"` or `"some non-field error"`. Whenever a user types into any field of the form, it should clear the nonfield error(s).

I am able to display this no

[2017-07-31 18:01] vkoves opened #197 "Data Not Being Saved When Working With Inputmask"
I'm using [ember-inputmask](https://github.com/pzuraq/ember-inputmask) and am having trouble with ember-changeset not noticing changes on form fields. Why might this be, and can I remedy the situation?

I'm also using [ember-form-for](https://github.com/martndemus/ember-form-for) if that makes any difference, and have been able to prove that the input mask is causing the problem. However, if I rea

[2017-07-31 18:26] erichonkanen commented on #172
hello, I am getting the same issue, how can I use the `afterValidation` event?

[code]

[2017-08-09 17:08] khornberg commented on #172
Broken for me too

[2017-08-09 18:16] khornberg commented on #172
Installing from git works.

A note for others. I had both `ember-changeset` and `ember-changeset-validations` installed under node 7.8.0. For some reason, `ember-changeset-validations` was using a version of `ember-changeset` local to itself. Reinstalled node modules and moved to node stable resolved the node issue.

[2017-08-10 02:07] erichonkanen commented on #172
@khornberg will try that out, thanks

[2017-08-10 03:50] scottkidder opened #198 "Ember data models isNew"
Is there a way to call into the internal model to get something like model.isNew?

[2017-08-10 03:51] #198 closed

[2017-08-14 13:46] roberkules opened #199 "Saving a relationship-model doesn't actually trigger the API call"
Let's say I have a Post model with an author relationship and I want to create an ember-changeset for the author only, I would do this on the controller/component:

[code]

but when I try to persist the author, calling `save` on the changeset doesn't trigger the API call.
looking at the source code I think I found the issue:

https://github.com/DockYard/ember-changeset/blob/master/addon/index.js#L

[2017-08-15 17:21] rwwagner90 commented on #127
I still seem to be hitting this issue 😞

[2017-08-16 19:33] #196 closed

[2017-08-17 21:34] erichonkanen commented on #172
@ekawatani following @khornberg advice I got it to work.. try rebuilding after wiping node_modules using latest...

[2017-08-19 22:57] nkgm opened #200 "Calling validate() after setting async validated property"
This is derived from a relevant `tests/unit/changeset-test.js` test:
[code]

The above assertion fails because `async`'s validation still hasn't resolved by the time `validate()` is called. Is this intended behavior?

If the changeset is created with `{ skipValidate: true }` the assertion passes.

[2017-08-23 12:26] roberkules commented on #161
@matthewvalimaki I'm looking for the same thing, did you come up with a solution?

[2017-08-23 14:26] kevlarr opened #201 "Validate multiple (or all) fields on single change?"
We have a situation where at least one of several fields needs to be present, and we wrote custom validators that check other fields like this:

[code]

If `minutes` are `null` or `"0"` and the user sets hours to `"0"`, it works fine - the `hours` field fails validation and we get the message just like we want. If someone then sets `minutes` to `"5"`, that field obviously validates, but the change

[2017-08-23 15:56] matthewvalimaki commented on #161
@roberkules unfortunately I did not. I simply have gone without implementing it for the use case I mentioned to save time.

[2017-08-24 15:53] roberkules commented on #199
[code]
actually it works when using `.content` for the changeset, is that the recommended way?

[2017-08-29 19:49] bkl1989 opened #202 "Validator function not triggered on call to validate"
I create a changeset like this
[code]
Then, I try to validate the changeset like this:

[code]

The debugger in the validator function is never reached.  However, the debugger in the .then is reached.

However, if I leave code block 1 as is, and instead try to trigger the validator this way:

[code]

The debugger inside the validator function is reached. The "name" field is defined in both cases.

[2017-09-01 18:09] kevlarr commented on #202
Running into this as well... Our use case creates an incomplete changeset for a form, but if a user submits the form without changing a single input, `validate()` does not mark the changeset as invalid.

[2017-09-02 15:50] samharnack commented on #149
I just ran into this error. For me, this was because I had the following model:

[code]

Internally, ember-changeset uses `isPresent` to ensure the model is present.
https://github.com/DockYard/ember-changeset/blob/master/addon/index.js#L56

The problem is `isPresent` eventually calls `isEmpty`. `isEmpty` uses `obj.size` to check for presence:
https://github.com/emberjs/ember.js/blob/v2.14.1/packa

[2017-09-05 14:25] bkl1989 commented on #202
@kevlarr Thanks a bunch. I was actually trying to use a map in the first place, and got discouraged, as I couldn't get it to work in a simple example like the first one I provided. So... `lookupValidator` generates the validator function for the map, and `validations` is the map? I don't get it - why are both of those arguments needed? Is there any way to generate the validator function without ha

[2017-09-05 18:12] kevlarr commented on #202
@bkl1989 Yep, exactly - `validations` is the map that `lookupValidator` creates a function (from https://github.com/DockYard/ember-changeset-validations)... I agree that it's a little indirect, especially given that the docs are wrong and `new Changeset` needs that third argument. Honestly I'm not sure how to generate a function without using the lookup system, I'd tried that awhile ago and abando

[2017-09-13 18:38] Duder-onomy commented on #5
As of right now, I don't think `ember-changeset` can properly support any relationships. If someone gets to this thread via frustrated googling, I highly recommend avoiding this library until there is documented relationship support.
That being said, it is really nice to work with when the model has no relationship nesting. Good job team. Hope we can get some first class relationship support in he

[2017-09-13 19:20] Duder-onomy commented on #199
@roberkules I am running into this as well.
If we have a non-blocking model hook, calling cave on the changeset will not call the persistence methods on the adapter.
If you look at this twiddle: https://ember-twiddle.com/d4c526f3ad2782e785b8685a4e759543

[2017-09-14 18:41] andrewpye opened #203 "isDirty not updated after setting invalid value for property"
I have a use case where I'm depending on a changeset's `isDirty` flag to warn the user of unsaved changes when they leave a page. I'm finding that if I have validations on a property and I set an invalid value on that property, the changeset's `isDirty` flag doesn't update, e.g.

[code]

In my use case this means that the user can edit a field to something invalid, and leave the page without being

[2017-09-15 09:16] tinyweasel commented on #149
I'm also running into this error in an acceptance test for visiting a page with a few components that use a changeset. How do I integrate the changeset into the test to make it pass?

[2017-09-21 13:17] aandresrafael opened #204 "How to reset/clear errors after an option is selected?"
Hello,
Actually I'm using changeset and I faced up with a problem in my app. I have a new form and added validations, but some validations depend of what option is selected for type field. So IE. if i select the option1 for type field,  fields  description and detail are required, but if i select option2 fields description and detail is not required. I created a custom validation and this works, b

[2017-09-24 22:42] phcoliveira commented on #177
It appears that manually adding errors does not get its consumers notified. I have a standard use case of an error message below an input. All client-side validations are handled perfectly, so it is to be expected that, by following the instructions for server-side on README, the error message returned by the server would also appear.

[2017-10-19 07:35] msalahz commented on #204
Hi @aandresrafael , I think [ember-changeset-conditional-validations](https://github.com/skaterdav85/ember-changeset-conditional-validations) can help you and provide conditional validation required in your case. If not, Can you share an ember-twiddle with a demo for your form and custom validation ?

[2017-10-19 08:29] msalahz commented on #203
Hi @andrewpye, As mentioned in addon docs

So if `someString` initial value is `null`, setting it to null will not change it's state and shouldn't change `IsDirty` flag.

Please let me know if this is not the case ?

[2017-10-26 12:32] andrewpye commented on #203
@msalahz thanks for getting back to me!

I should have been clearer - what my example doesn't show is that the problem I described was for when the changeset's underlying model initially had a valid, non-null value for the property in question. So what I should have written is this:

[code]

[2017-10-26 13:37] msalahz commented on #203
@andrewpye: I can see thar  [here](https://ember-twiddle.com/e5eaa7bee6ed76257f5a62e618c315e8?openFiles=controllers.application.js%2C). Will try to look into it this weekend

[2017-10-26 13:43] msalahz commented on #203
Sorry here is the correct twiddle url https://ember-twiddle.com/d4afc893cbae670ecc3901ae5977c3cf?openFiles=controllers.application.js%2C

[2017-10-27 14:58] simonc commented on #198
@scottkidder Hi. Did you find a solution that made you close this issue? Thanks

[2017-10-28 22:13] nucleartide commented on #204
@aandresrafael You shouldn't need to use `changeset.rollback()`, since choosing a new option (and changing the "type" field) will automatically re-run validation.

I second @msalahz though, an ember-twiddle would be helpful. :)

[2017-10-28 22:53] nucleartide commented on #203
@andrewpye That seems to be expected behaviour, see https://github.com/DockYard/ember-changeset/blob/5d973b15387b5905506c1e3af2b72dcd72dca066/tests/unit/changeset-test.js#L132.

However, you could check if it's dirty *or* if it's invalid. For example:

[code]

Lemme know if that works!

[2017-10-28 23:19] nucleartide commented on #202
The docs (https://github.com/DockYard/ember-changeset/tree/5d973b15387b5905506c1e3af2b72dcd72dca066#validate) do mention that the validation map is required, though I agree that it's easy to miss.

Making the validation map optional would be a good enhancement. If anyone's up for it, feel free to call dibs and open a PR. :)

[2017-10-30 08:16] andrewpye commented on #203
@nucleartide thanks for pointing that out! Your suggestion would give the desired result, but feels more like a workaround than a fix to me; semantically, it doesn't make any sense for `hasUnsavedChanges` to depend on the validity of the changeset - a change is a change, whether it's valid or not, and validity is a separate matter as far as I'm concerned, and should be handled separately.

The dan

[2017-10-30 18:16] nucleartide commented on #203
@andrewpye I definitely see what you mean, maybe it'd be more clear to check for changes/errors? So:

[code]

A changeset is a set of valid changes by definition, which is why we have to check errors too.

[2017-10-31 10:11] andrewpye commented on #203
@nucleartide I suppose this issue comes about from the terminology - to me `changes` implies _all_ changes rather than just those that are valid, and in my mind validity would be determined based on validating the result of applying those changes to the underlying object. If I make a change, I expect the changeset to become dirty/have changes, regardless of whether that change is valid or not. To

[2017-10-31 10:11] #203 closed

[2017-11-02 16:10] scottkidder commented on #198
Hi @simonc I eventually found an issue where @poteto stated something to effect of 'the changeset is not a replacement for your model You should keep a reference to your model for these types of operations.' and I found that to be the best solution.

[2017-11-02 20:41] simonc commented on #198
@scottkidder fair enough. Thanks for your feedback :wink:

[2017-11-08 18:49] aandresrafael commented on #149
Hello I'm also running into this error as well in integration test for a component.  My component is like this.
form-component.js:
`import Ember from 'ember';
import AppReleaseValidations from '../validations/app-release';
import lookupValidator from 'ember-changeset-validations';
import Changeset from 'ember-changeset';

const { Component, get } = Ember;

export default Component.extend({
  init(

[2017-11-09 03:32] nucleartide opened #209 "TypeScript typings"

[2017-11-09 03:34] nucleartide opened #210 "Framework-agnostic version"
I use React at work; how might changeset apply to a React stack? Something with redux-form perhaps?

[2017-11-17 20:29] nucleartide opened #212 "Remove Bower"
This is a follow-up to https://github.com/poteto/ember-changeset/pull/207.

[2017-11-17 20:31] #212 closed

[2017-11-19 02:20] nucleartide opened #214 "Standardized docs"
I wonder if anyone's been working on something like [HexDocs](https://hexdocs.pm/) or [GoDoc](https://godoc.org/) for Ember. It'd be really nice to have.

[2017-11-23 18:54] asjongers opened #217 "changeset.rollback notifies listeners before updating values"
Hi,
I have an application with an observer checking the changes made to a changeset field.
However, when I rollback the changes made and my observer fires, the value is still the old one.
If I delay the code checking the value by placing it in an Ember.run.next then I do have access to the correct rolledback value.

I have created [a twiddle](https://ember-twiddle.com/63299c8032a3dcdcfb231c5a0fdfe

[2017-11-24 23:30] nucleartide opened #218 "Stateful property-based tests"
Would be interesting. :D

[2017-11-25 04:48] nucleartide opened #220 "Nested error should not report error for parent object"
https://github.com/poteto/ember-changeset/blob/cae85fd49eef957e8b7908252860b6be56f3a04d/addon/index.js#L621

This breaks the canonical ember-twiddle example.

Will need to devise a test case. Could change it to `key in errors && 'value' in errors[key]`.

[2017-11-25 04:52] nucleartide opened #221 "Memory leak in Relay class"
https://github.com/poteto/ember-changeset/blob/cae85fd49eef957e8b7908252860b6be56f3a04d/addon/-private/relay.js#L20-L21

This generates a lot of dupes, especially when spamming a single `<input>`. Maybe change to an object?

[2017-11-27 16:39] BillyRayPreachersSon commented on #220
While the error you give above is in the `_valueFor` method, I see errors with the same `hasOwnProperty` call in the [`_allKeys`](https://github.com/poteto/ember-changeset/blob/cae85fd49eef957e8b7908252860b6be56f3a04d/addon/index.js#L474) method (with no changes in my code except  revving `ember-changeset` to `1.4.1` and `ember-changeset-validations` to `1.2.9`):
[code]

In that instance, `object`

[2017-11-27 16:51] nucleartide commented on #220
@BillyRayPreachersSon Thanks for reporting - if you'd like you can revert back to the old `1.3.0` release for now. Will be working on these bugs after work this week.

[2017-11-27 17:24] webark commented on #220
@nucleartide I don’t completely understand the error you are having. I can work on this in the next couple of days though. Could you expand on “report error for parent object”?

[2017-11-27 17:27] webark commented on #221
@nucleartide i can work on this sometime in the next couple of days if you (or someone else) can’t get to it.

[2017-11-27 17:45] nucleartide commented on #220
@webark Yep! So if you have a change for `org.usa.ny`, you'll have the `org` property, but no `org.value` property. Thus, the `get` on the subsequent line will fail:

https://github.com/poteto/ember-changeset/blob/cae85fd49eef957e8b7908252860b6be56f3a04d/addon/index.js#L621-L622

If you don't mind, I'd like to work on this tonight in order to get a bugfix release out very soon. D: Will let you kno

[2017-11-27 18:27] webark commented on #220
@nucleartide sure thing! And ya. Maybe I'm interpreting things wrong, but there shouldn't be an `org.value` property in the errors object, since `org` doesn't have an error, only `org.usa.ny` has the error. When you set up your validations you have to add them to the inner object. like https://github.com/poteto/ember-changeset/blob/master/tests/unit/changeset-test.js#L38-L44

[2017-11-28 04:15] #220 closed

[2017-11-28 04:15] #221 closed

[2017-11-28 04:29] nucleartide opened #224 "Errors for nested keys don't go away once shown"
Trying to extend @poteto's original twiddle but there are still some issues. Need to take another look before publishing a patch release.

[2017-11-28 11:02] BillyRayPreachersSon commented on #220
Should I move my problem (that i thought was related) to a new issue?

[2017-11-28 12:24] nucleartide commented on #220
@BillyRayPreachersSon Oh whoops! Yes please, that would be great.

[2017-11-28 14:24] BillyRayPreachersSon opened #225 "Since nested keys work, I'm getting an error in the _allKeys method: object.hasOwnProperty is not a function"
After revving `ember-changeset` to `1.4.1` and `ember-changeset-validations` to `1.2.9` (from `1.2.0` and `1.2.4` respectively), with no other changes in my code, I'm getting an error with the `hasOwnProperty` call in the [`_allKeys`](https://github.com/poteto/ember-changeset/blob/cae85fd49eef957e8b7908252860b6be56f3a04d/addon/index.js#L474) method of `ember-changeset/addon/index.js` when trying t

[2017-11-29 04:20] nucleartide commented on #218
woah

[2017-11-29 10:03] nucleartide commented on #225
@BillyRayPreachersSon Thanks for opening this! I appreciate the detail.

Hmm, it sounds like `object` is an `Object.create(null)`.

I think the `.hasOwnProperty` check is to avoid hitting prototype methods, but we should switch this over to `Object.keys()` anyway, which is more robust.

If anyone has the time (it's kinda late for me right now 😆) and wants to contribute, could you call dibs by post

[2017-11-29 10:15] nucleartide commented on #218
In order to property-test classes like `Changeset` (and not just pure functions), it seems like we need a [FSM](http://proper.softlab.ntua.gr/Tutorials/PropEr_testing_of_finite_state_machines.html). It'd be interesting to pursue this path in order to make ember-changeset more bulletproof.

[2017-11-29 14:09] webark commented on #225
@nucleartide i can pick it up today.

[2017-11-29 14:23] nucleartide commented on #225
@webark awesome! We can also pull the allKeys method into utils, since it doesn’t depend on instance state.

[2017-11-29 15:08] webark commented on #225
ya. that’s what i was planning on doing after a quick sweep to see if it exists anywhere in the world.

[2017-11-29 22:32] sdhull commented on #187
I agree this should be handled automatically by the library, and I'd suggest that `#save()` should do this (same as it automatically clears the changes when saving the underlying object is successful).

I'd take this a step further and suggest that the `#errors` property should be a `DS.Errors` object such that it can be treated in the same way. As it stands, rendering errors for a particular fiel

[2017-12-01 01:56] #225 closed

[2017-12-01 02:13] webark commented on #224
@nucleartide I could work on this tomorrow if you can pate the twiddle that you say, or explain a repo steps a little more.

[2017-12-01 02:56] nucleartide commented on #224
@webark I added a failing test case, lemme see if I can figure it out in the next half hour. If not, feel free to take this. :)

[2017-12-01 03:25] nucleartide opened #228 "Docs for nested key support"
TODO: may need to explain `Relay` cache.

[2017-12-01 03:29] nucleartide commented on #204
Going to start closing inactive issues – please open a new issue if you have any more questions!

[2017-12-01 03:29] #204 closed

[2017-12-01 03:32] nucleartide commented on #224
@webark Seems like the test fails on earlier Ember versions, do you want to take a look tomorrow? I think that's enough for me today haha.

Aiming for a release (and official announcement) early next week.

[2017-12-01 11:01] nucleartide commented on #218
API sketch with decorators, translated from Hypothesis's [example](http://hypothesis.readthedocs.io/en/latest/stateful.html):

[code]

Todo:

- [ ] Choose a property-based testing lib
- [ ] Write some tests for utils
- [ ] Think about test API for `Changeset`

[2017-12-02 02:40] nucleartide commented on #202
Closing this issue since there hasn't been any activity. Please open a new issue if there are more questions!

[2017-12-02 02:40] #202 closed

[2017-12-03 14:05] PieterJanVdb opened #229 "'getting' a Moment instance on a changeset returns a relay instead of that instance"
When having a Moment instance on a changeset, eg.: `set(changeset, 'startDate', moment())`, and if you then later do `get(changeset, 'startDate')` it will - instead of returning the Moment instance on the changeset - return a relay with 'startDate' as key.

I'm unsure if this is a 100% a bug, as the Moment instance is an object so ember-changeset thinks it has to create a relay, but it would be ni

[2017-12-03 14:09] nucleartide commented on #229
Thanks for reporting! This is similar to https://github.com/poteto/ember-changeset/pull/206/commits/a1d22b74bc5ef2fd9d67cd81d628c2382777be20, I'd consider this a bug.

Will include this in the upcoming bugfix release (1.4.2).

[2017-12-03 14:10] nucleartide commented on #229
As mentioned on Slack, for now you could try `changeset.get('changeset.someMomentDate')`, since the Relay object stores a reference to `changeset`.

[2017-12-03 20:03] nucleartide commented on #217
Hey @asjongers, thanks and sorry for the late reply.

I'm a little busy with Ludum Dare and work deadlines atm, but I'll take a look at this for the upcoming bugfix release. Hope that's okay with you!

[2017-12-03 23:20] m-nagy commented on #225
When could we have this fix into release?

[2017-12-03 23:32] nucleartide commented on #225
@m-nagy There are a few bugs (https://github.com/poteto/ember-changeset/milestone/3) I'd like to resolve before releasing a patch.

For now, I'd recommend reverting to the pre-nested keys versions of ember-changeset and ember-changeset-validations:

[code]

Ideally, you should not be using nested keys until there is documented support.

[2017-12-04 21:34] #224 closed

[2017-12-04 22:13] nucleartide opened #232 "Add Prettier"
Prettier and/or ESLint. ESLint isn't catching missing semicolons, for example.

[2017-12-04 22:13] #217 closed

[2017-12-05 11:03] nucleartide opened #233 "QA for nested keys release (~1.4.0)"
For all issues, please submit a PR whose initial commit is a **failing test** (as reported by Travis). Subsequent commits should fix the initial failing test.

15. [x] @krishandley `_hasOwnNestedProperty` does not depend on instance state, let's pull this into `utils`.
14. [x] @nucleartide Audit `_setProperty` for possible nested keys bugs.
5. [x] (no tests needed here) Update the JSDoc for `_vali

[2017-12-05 13:01] krishandley commented on #233
Will help if I can!

[2017-12-06 02:48] nucleartide commented on #218
Thinking of trying this soon, it would help the effort in https://github.com/poteto/ember-changeset/issues/233.

[2017-12-06 03:02] nucleartide commented on #233
@krishandley @webark + anyone who might be reading, I've listed the issues in the original post. Please chip in if you'd like!

[2017-12-06 10:15] webark commented on #233
@nucleartide i’ll jump on some of these tomorrow.. thanks!

[2017-12-06 11:39] krishandley commented on #233
I'll take an easy one to start with extracting _hasOwnNestedProperty

[2017-12-06 19:48] krishandley commented on #233
I can do take the _rollbackKeys item as well, I added that method it after all 😄

[2017-12-06 22:37] krishandley commented on #233
Added PR for #229

[2017-12-07 09:46] nucleartide commented on #233
@krishandley Thanks for the PRs! Sorry for not getting back to you earlier – I'll try to review them when I get a chance today.

[2017-12-07 09:48] krishandley commented on #233
@nucleartide no problem, take your time 👍

[2017-12-08 10:14] huberts opened #238 "[Q] How to deal with relationships?"
Hello!

How can I use ember-changeset with complex models? My case is a hasMany() relationship where I would like to modify the list of child objects. The simplest example I could prepare is here:
[https://github.com/huberts/ember-changeset-test](https://github.com/huberts/ember-changeset-test)
When I try to add a child with changeset, there is an error on my array:
`this.get(...).addObject is not

[2017-12-08 10:28] nucleartide commented on #238
@huberts Thanks for the example! There are a couple of bugs with ember-changeset 1.4.0+ and ember-changeset-validations 1.2.9 right now, which is why you are seeing that error.

Pinning your ember-changeset-validations version to 1.2.8 is the right way to go for now.

We also currently don't support `hasMany`s. (I think https://github.com/poteto/ember-changeset/issues/118#issuecomment-254302025 st

[2017-12-08 10:45] huberts commented on #238
Thanks for your response! I will go with 1.2.8 then.

[2017-12-08 15:13] sfanetti opened #239 "Nested DS models cause stack blow out"
We have a model with a reference to another model that it has a "belongsTo" relationship with.  The retrieval of allKeys before the save does a deep scan of the containing object tree - which has references that are circular.  This blows the stack.

It would be preferable to have some depth limit in place that can be set or have some means of specifying the relevant properties that constitute a va

[2017-12-08 15:30] nucleartide commented on #239
@sfanetti Thanks for the report. This sounds like the same issue mentioned in https://github.com/poteto/ember-changeset/pull/206/commits/68636f23111bea4ed81758730d994904212fad6a.

For now, I'd recommend pinning ember-changeset to 1.3.0 and ember-changeset-validations to 1.2.8. Let me know if that works for you!

[2017-12-12 04:00] nucleartide opened #242 "Remove relays"
It seems like we don't really need relays. Here are some random supporting thoughts:

1. There's a circular reference between a changeset and its relays, which means we could maybe combine the two. This would also remove the possibility of an infinite loop.
2. Some conversation between @krishandley and @webark in https://github.com/poteto/ember-changeset/pull/236.
3. @poteto's [early work](https:/

[2017-12-12 08:56] krishandley commented on #242
It would be nice to at least try and remove them. 👍

It might be a breaking change for anyone who is getting around the current issue of getting non relay objects like this.

[code]

But there could be a warning for keys starting with /^changeset\./ to say you no longer need to do this.

[2017-12-12 11:44] BillyRayPreachersSon opened #244 "Stack overflow in utils/_leafKeys when trying to save a DS model"
I'm not sure if this is related to https://github.com/poteto/ember-changeset/issues/239, as that was put down to the `_allKeys` method, and the issue here happens in the `_leafKeys` method.

I'm also not sure if this is something that can be fixed in `ember-changeset` or not, but thought I'd post the details anyway.

I've pointed our package.json to the lastest `master` commits for `ember-changese

[2017-12-12 12:14] nucleartide commented on #244
Yeah, this is a known bug and `allKeys` and `leafKeys` are the same function. The plan is to get a bugfix release out very soon (see https://github.com/poteto/ember-changeset/issues/233), and it might be even sooner if https://github.com/poteto/ember-changeset/issues/242 gets resolved.

Until then, **you should not be using nested keys, ember-changeset 1.4.0, or latest master**. Please pin your em

[2017-12-12 12:30] nucleartide commented on #242
@krishandley Great point, maybe we should use [`Ember.deprecate`](http://devdocs.io/ember/classes/ember/methods#deprecate) as well. Or since this is a backwards-incompatible change, we could just bump to 2.0.0.

[2017-12-12 13:39] krishandley commented on #242
Bumping to 2.0.0 sounds good to me 👍

[2017-12-12 15:34] webark commented on #242
Ya. I think it’s worth a shot. I started from the existing feature branch, so i never tried it without. I think maybe if you where to get the nested object, then start working off of that, you’d run into some issues with things. But definitely worth a shoot. The whole time i was finishing it out, i felt more like i was applying bandaids rather then fixing root causes, and thought that with nested

[2017-12-12 17:11] onewiseburdman commented on #132
Full error bellow:

There was an error running your app in fastboot. More info about the error:
 Error: Assertion Failed: Underlying object for changeset is missing
    at new EmberError (/Users/dad/Documents/workspace/io/tmp/broccoli_merge_trees-output_path-kR6gfOR9.tmp/assets/ember-debug/error.js:40:1)
    at assert (/Users/dad/Documents/workspace/io/tmp/broccoli_merge_trees-output_path-kR6gfOR9

[2017-12-12 18:13] webark commented on #242
And to clarify my previous point. I realized it might have sounded like I was absolving myself and pushing "the blame" up. That was not my intention. There are times when you come into a system or issue that is half complete, and it is the responsibility of the one who completes something to feel confident in it. Having the "applying band-aids" to patches  (if you read https://github.com/poteto/em

[2017-12-12 19:17] nucleartide commented on #242
@webark Don't sweat it, if anything I shouldn't have been so hasty in merging the PR. We have a good grasp on the remaining bugs – and I'll be on holiday break soon – so let's try to get the next release out. 😄

@poteto mentioned something about `unknownProperty` and `setUnknownProperty` not working with nested keys, which motivated the relay implementation. I think `set(obj, 'foo.bar.baz', 42)` w

[2017-12-13 06:25] poteto opened #245 "RFC: Use es6 proxy"
Didn't have time to write up an actual RFC. Here's a quick [proof of concept](https://ember-twiddle.com/44e1aac8ed7ad53cd45c7419c655e77d?openFiles=controllers.application.js%2C) where we are just naively trapping `proxy.set` to validate prior to setting the value on the target object.

If we go down this route, we should implement that as a separate JS library and then have this addon consume that

[2017-12-13 10:22] krishandley commented on #245
That would be nice, my only question is what do we do about IE11?

[2017-12-13 11:31] krishandley commented on #233
Looking into _setIsValidating with nested keys - I opened a PR for an issue which needed fixing first #247

[2017-12-13 13:03] nucleartide commented on #242
Going to close this, since I understand why we need relays now.

[2017-12-13 13:03] #242 closed

[2017-12-13 17:10] webark commented on #245
could this be something where we could base it off of the Proxy object, but fall back to a polyfill like https://github.com/GoogleChrome/proxy-polyfill

[2017-12-14 02:02] nucleartide commented on #210
See https://github.com/poteto/validated-proxy.

[2017-12-14 02:02] #210 closed

[2017-12-14 02:02] nucleartide commented on #209
See https://github.com/poteto/validated-proxy.

[2017-12-14 04:21] nucleartide commented on #233
@krishandley @webark I'm going to close this issue in favor of making individual issues for each task. Also, I'd like to address https://github.com/poteto/ember-changeset/pull/247#issuecomment-351598545 before allowing other contributions (so as not to duplicate effort nor add PR review overhead).

So please hold off for now 🙏  will let you know once the project management side of things is more o

[2017-12-14 04:21] #233 closed

[2017-12-15 05:53] nucleartide commented on #245
This is great 🙂  I think we could continue the bug-fixing efforts with nested keys and get a release out, then focus on integrating validated-proxy? It'll be easier since we'll already have defined nested keys behavior.

[2017-12-15 08:27] poteto commented on #245
This isn't a mandate by any means, I'm using `validated-proxy` as an experiment. I wouldn't change any plans yet! That said, I wanted to start a discussion and I will soon add a real RFC into my first comment

[2017-12-17 22:05] nucleartide opened #252 "RFC: Property-based testing for ember-changeset"
My commute is _pretty_ darn terrible, so I've had a lot of time to daydream about property-based (a.k.a. generative) testing.

### Definition

Property-based testing is basically unit testing on steroids. Instead of testing code against a few examples, you wield a lot more power in the form of test data generators. Since a computer comes up with examples for you, this pushes you to think about the

[2017-12-17 22:06] nucleartide commented on #218
Duplicate of #252.

[2017-12-17 22:06] #218 closed

[2017-12-17 23:10] #228 closed

[2017-12-17 23:12] #214 closed

[2017-12-17 23:14] #232 closed

[2017-12-17 23:19] nucleartide opened #253 "Changeset should work with Ember Data model refreshes"
See https://github.com/poteto/ember-changeset/pull/241#discussion_r156409018.

[2017-12-18 12:57] nucleartide opened #256 "Support nested keys"
`ember-changeset` 1.4.0+ adds support for nested keys. However, the latest minor release (1.4.1) also breaks existing APIs, and introduces bugs because not all `Changeset` methods have been updated to support nested keys.

Thus, **you should not use `ember-changeset` 1.4.0+, nor should you point your `package.json` at the latest commit on `master`**. Instead, please pin your `ember-changeset` vers

[2017-12-18 19:24] nrcjbarry commented on #256
Thank you! I just ran into these issues last week. All our environments (Dev/Test/Stage) were throwing exceptions in one form's save, but I couldn't reproduce locally. Ended up figuring this out after doing multiple `rm -rf node_modules` and `npm installs`.

[2017-12-20 12:46] abobwhite commented on #159
@MarkPSmith Ember models are inherently UI-specific so I have never considered it "bad" to include display data  in an ember model, where it makes sense and is solely computed based on model properties. For example, I display a different label depending on a model property. I suppose a helper or component would certainly be ideal but I don't think it's necessarily a code smell.

[2017-12-20 16:54] nucleartide commented on #252
After using property tests [in practice](https://github.com/poteto/ember-changeset/pull/254/commits/8312674b4e336433a9e2a1df96bdbf86982edf75), I think they're best used in moderation. Table-driven tests strike a good medium between standalone examples and generative testing.

[2017-12-20 16:54] #252 closed

[2017-12-20 19:01] sdhull commented on #239
FWIW, we encountered this same bug but instead of a stackoverflow, the recursion ended at an error `object.hasOwnProperty is not a function` that was getting swallowed somehow and the `catch` method wasn't firing so it was simply failing silently.

Would recommend you push a fix for this ASAP. Seems like `Changeset` is incompatible with any model that has a `belongsTo`. So our experience seems to

[2017-12-20 19:32] nucleartide commented on #239
@sdhull I'm trying my best. Please read what I wrote above, as well as at https://github.com/poteto/ember-changeset/issues/256. Thanks.

[2017-12-20 19:32] #239 closed

[2017-12-20 19:43] sdhull commented on #256
Ah! I didn't see this. Thanks for pointing me here.

First: it should go without saying (however I'll say it anyway!) I very much appreciate the addon and all the contributors' work it took to make it happen.

Second: I didn't see this before coming up with a workaround, which is to simply do:
[code]
Which seems to be working OK so far.

Last: I skipped over this issue because the title (`Support

[2017-12-21 06:19] nucleartide commented on #245
Having looked through validated-proxy a bit more, I think it’d be interesting to explore use cases. An obvious one is using validated-proxy with Redux, where you’d emit actions only when data is valid. Since we’re not coupled to Ember anymore, maybe an Express middleware for validated-proxy would be useful too. I’m curious what people have used Ecto.Changeset for, since all those use cases would a

[2017-12-23 19:35] erichonkanen opened #263 "Add support for dynamic validation field filtering"
Problem:

Form has a section that can be toggled in the UI by the user by clicking a button. If this section is toggled, we want to also include it's fields during validation, if it is not toggled, we do not want to include it's fields during validation (conditional validation). The property used to toggle the form section is in the parent scope (component).

How can we conditionally validate thes

[2017-12-24 03:51] nucleartide commented on #263
@erichonkanen Thanks for opening the issue. As discussed on Slack, I still think iterating through your validation map, and wrapping each validator with another function bound to `this` is the way to go. It sounds like you had trouble doing that though? I'll write up an example if I'm not busy.

While this may be a good idea, at this point I'd like to keep the `ember-changeset` and `ember-changese

[2017-12-24 03:51] #263 closed

[2017-12-24 04:56] erichonkanen commented on #263
@nucleartide certainly open to viewing your implementation but as far as I tried it does not work. Additionally it is not an intuitive solution to wrap each validator function with a bound contextual function. One thing I discovered is that the current implementation of passing the validationMap into the `lookupValidator` function is unnecessary as you can simply pass it through the `validate()` m

[2017-12-24 17:31] nucleartide commented on #244
The updated nested keys implementation in #268 fixes this bug. Be on the lookout for a formal announcement!

[2017-12-24 17:31] #244 closed

[2017-12-26 22:49] nucleartide commented on #263
@erichonkanen To expand on why I'm somewhat against this: a `Changeset` is a set of valid changes to be applied onto any Object. This implies that the validation rules are static.

To illustrate, take a look at how `Ecto.Changeset` defines a changeset:

[code]

Note that the validations are baked into the definition. There is nothing about them that is dynamic; the dynamic part is contained _insid

[2017-12-27 00:41] erichonkanen commented on #263
I see what you're saying but I guess I was just looking at the validation map itself as having a dynamic component... I guess the real problem is how to enable conditionally validating a field in a way that is somewhat easy to implement/understand. I know I also mentioned another possibility could be optionally allowing computed's for the validation fields e.g.:
[code]
but it would still require s

[2017-12-27 18:40] erichonkanen commented on #263
btw I don't think it's possible inside the validator unless there is some clever way to pass the parent scope into it(?)

`app/validations/customer-profile.js`
[code]
`this` is the validations file and not the parent Component

[2017-12-30 13:49] BillyRayPreachersSon commented on #244
Thanks :)

[2018-01-04 05:00] #256 closed

[2018-01-09 04:44] nucleartide commented on #229
@PieterJanVdb The latest release [v1.4.2-beta.0](https://github.com/poteto/ember-changeset/releases/tag/v1.4.2-beta.0) fixes this. You can write `changeset.get('someMomentDate')` now and it'll return a Moment instance instead of a Relay.

If you have the time, please try it out (with caution :D). It should still work with `changeset.get('changeset.someMomentDate')` as well.

(Official announcement

[2018-01-09 05:46] nucleartide commented on #197
@vkoves Thanks for opening the issue. Since this issue is somewhat old, I'm going to close this.

If you're still interested, please open a new issue with an Ember Twiddle reproduction so it'll be easier to debug.

[2018-01-09 05:46] #197 closed

[2018-01-09 14:06] BillyRayPreachersSon opened #272 "Stack overflow in -private/relay.js when trying to save a DS.Model that uses a DS.Transform"
I've updated our Ember `2.18.0` project to use `ember-changeset: 1.4.2-beta.0` and `ember-changeset-validations: 1.2.10` (from versions `1.2.0` and `1.2.4`, respectively.

With no other changes other than updating those two packages, when I attempt to save my model, I'm getting the following stack trace:

[code]

I've not got any nested validations, although my model does have (and has always had)

[2018-01-09 16:08] nucleartide commented on #272
@BillyRayPreachersSon Thanks for reporting. Would you mind logging the value of `key` and seeing what it prints out? A minimal reproduction on Ember Twiddle would be very helpful as well.

[2018-01-10 11:25] nucleartide commented on #272
After sleeping on it and considering https://github.com/poteto/ember-changeset/issues/244, I'm inclined to think the key is `response.changeset._content.store.recordArrayManager.store.recordArrayManager.store.recordArrayManager.store.recordArrayManager.store.`?

[2018-01-10 12:47] BillyRayPreachersSon commented on #272
I'm really struggling to create a Twiddle with the new versions.

Here's what I have: [Twiddle](https://ember-twiddle.com/1d2349b2f97b88ea20618ec5f764ec99?openFiles=twiddle.json%2C
).

I can use `ember-changeset: 1.4.2-beta.0` and `ember-changeset-validations: 1.2.4`, but that's no good (as `ember-changeset-validations: 1.2.4` throws some errors that have been fixed in later versions - although od

[2018-01-10 13:05] BillyRayPreachersSon commented on #272
Also, it looks like the value of `key` when gets stuck as something completely normal ('`response.fault`' in my case).

[2018-01-10 15:02] nucleartide commented on #272
Is `fault` an Ember Data relationship of some kind?

[2018-01-10 17:06] BillyRayPreachersSon commented on #272
No, just a string property provided by the transform.

I'm trying to cut down the project to the bare minimum singe model & no auth stuff, etc., so I can provide it as a new Ember project for debugging this. I'll keep you posted how it goes.

[2018-01-10 18:23] erichonkanen opened #273 "Calling `set` on changeset for a `belongsTo` is not working in beta [1.4.2 beta]"
In the following code, `changeset.get('payment_gateway.id') === undefined`, I also tried `changeset.set('payment_gateway', <paymentgateway object>)`

[code]

[2018-01-10 18:38] erichonkanen opened #274 "Saving form with `belongsTo` throws error [1.4.2 beta]"
I am seeing the following when I call `changeset.save()` on my ember-data backed form which has a `belongsTo`:

[code]

Here is the model:
[code]

[2018-01-10 18:53] BillyRayPreachersSon commented on #272
It looks like I've managed to get a really cut-down app working with Mirage and no back-end, and the error still happens.

I'll tidy it up, and push it to a Git repo tomorrow, and then pass on the details.

[2018-01-10 19:02] nucleartide commented on #272
Awesome, thanks a bunch for taking the time!

[2018-01-11 02:21] nucleartide commented on #273
Could you open another issue and add more detail? (I've added an issue template.) Not sure what's wrong here.

[2018-01-11 02:21] #273 closed

[2018-01-11 02:26] nucleartide commented on #274
Thanks for opening these issues @erichonkanen, I would like more detail though. Please fill out the issue template if you get the time. An Ember Twiddle or repo reproduction would be ideal.

[2018-01-11 02:26] #274 closed

[2018-01-11 02:52] nucleartide commented on #195
Closing this since it's quite an old issue.

@g8anusha If you're still running into this problem though, you may want to open an issue downstream, in [ember-validated-form](https://github.com/adfinis-sygroup/ember-validated-form). Notice that if you log the following:

[code]

The `firstName` and `lastName` above will log on save, while the `f.model.firstName` yielded by `validated-form` will not.

[2018-01-11 02:52] #195 closed

[2018-01-11 02:58] nucleartide commented on #188
@Baukereg Thanks for reporting the issue. I agree that this is a very niche use case (not to mention it's been awhile since you posted 😬 ), so I will close this for now. Definitely feel free to create an addon though!

[2018-01-11 03:02] nucleartide commented on #187
@adambedford I like this idea. We could try to make `Changeset` more extensible, such that consumers of the addon only have to write the "Handling server errors" code once.

Currently triaging issues, so I will leave this open if anyone has suggestions.

[2018-01-11 03:15] erichonkanen commented on #274
ok I will, but the tldr is you can't `set(changeset, <belongsToField>)` directly

[2018-01-11 03:21] nucleartide commented on #201
That's interesting. I think if `Changeset` were a bit more extensible, you could instead write a computed property (CP) like `computed('hours', 'minutes', function() { /* ... */ })`, then validate that CP instead.

Leaving this open - great suggestion @kevlarr.

[2018-01-11 08:38] sdhull commented on #187
@nucleartide FWIW I wrote an  `error-messages` component (template-only) to display errors:
[code]
And it's used like this:
[code]
The `class` assignment is kinda verbose and annoying but I have't figured out how to shorten it yet... 🤔

[2018-01-11 14:39] BillyRayPreachersSon commented on #272
OK, I've got the code down to pretty much the bare minimum (a single model with two properties, one of which is a `DS.Transform`. You can find it here: https://github.com/BillyRayPreachersSon/ember-changeset-test.

I've set it up using `ember-cli: 2.18.0` and `ember-data: 2.18.0`, along with `ember-changeset: 1.2.0` and `ember-changeset-validations: 1.2.4`.

With those package versions, you can go

[2018-01-14 14:22] nucleartide opened #275 "Investigate redux-form"
https://redux-form.com/6.6.3/docs/gettingstarted.md/

---

EDIT

Also, this has been trending lately: https://github.com/thejameskyle/unstated

Without the Redux baggage, it looks more in line with the Ember way of doing things... might be worth a look too.

[2018-01-16 11:14] nandorstanko opened #277 "Issue with Moment data while saving"
## Version
1.4.2-beta.0

## Steps to reproduce
I'm using Moment as a DS datatype (with custom transform). Getter and setter are working fine. The issue is that when I'm trying to save the changeset, the Moment data is not getting set into my model. I think that the problem is somewhere in the execute function. The changedKeys object contains hundreds of keys (like this one: dob._isAMomentObject),

[2018-01-16 11:20] nucleartide commented on #277
@nandorstanko Thanks for opening the issue. I believe you aren't on 1.4.2-beta.0, since the `if (!changedKeys.includes(key))` line doesn't exist in the codebase anymore.

Have you updated your version of ember-changeset-validations? When inspecting the addon, the `index.js` file for `ember-changeset` should look something like [this](https://github.com/poteto/ember-changeset/blob/master/addon/inde

[2018-01-16 11:32] nandorstanko commented on #277
@nucleartide Thanks for the reply! I thought that I was on that version, because I am on that version, but sadly ember-changeset-cp-validations is not... This was tricky, learned from it. Sorry for the false alarm!

[2018-01-16 11:32] #277 closed

[2018-01-18 03:26] erichonkanen commented on #275
what's use case?

[2018-01-18 04:18] nucleartide commented on #275
It just seems like really similar territory. Apparently redux-form is the form lib of choice in the React ecosystem. I figure it'd help to study the lib with the most mindshare. There is also [formik](https://github.com/jaredpalmer/formik), which looks interesting.

(FWIW, I write React at work. Shh don't tell anyone :D)

[2018-01-18 07:57] erichonkanen commented on #275
haha nice, how do you like it? I wouldn't mind dipping my toes in the React water at some point but haven't really had a reason to so far.. will check out the lib

[2018-01-23 15:51] nucleartide opened #278 "Investigate pipeline operator usage"
https://www.npmjs.com/package/@babel/plugin-proposal-pipeline-operator

Would make for some interesting, opt-in syntax sugar, particularly around validations.

[2018-01-24 02:53] nucleartide commented on #278
Here's a mildly amusing API comparison. (I don't know what I'm doing.)

`ember-changeset`:

[code]

`validated-proxy`:

[code]

With pipeline operator plugin:

[code]

Without pipeline operator plugin:

[code]

[2018-01-27 23:56] nucleartide commented on #182
@kevlarr I think this issue should be fixed with `v1.4.2-beta.0` of `ember-changeset`. Please try that out, and create another issue if you're still running into the same problem. :)

[2018-01-27 23:56] #182 closed

[2018-01-28 00:04] nucleartide commented on #180
@shakeebatme Closing this since it's been open for awhile without any follow-up. If you're still running into the problem, please [submit a new issue](https://github.com/poteto/ember-changeset/issues/new) and fill out the issue template. 🙂

[2018-01-28 00:04] #180 closed

[2018-01-28 02:12] nucleartide commented on #176
@SuperCoolFrog is right. I agree that having to pass `lookupValidator(validationMap)` and `validationMap` isn't great, however we could look into API improvements if there's enough demand.

[2018-01-28 02:12] #176 closed

[2018-01-28 02:34] nucleartide commented on #175
@hornetnz You should do that at the validation map level. For example:

[code]

[2018-01-28 02:34] #175 closed

[2018-01-28 02:42] nucleartide commented on #174
@brandynbennett Excellent suggestion. (Sorry for getting back to you so late!)

I think this could be implemented if `Changeset` were more extendable – going to label this under `extensibility`.

[2018-01-28 02:49] nucleartide commented on #172
Sounds like everything here is resolved. Please [create a new issue](https://github.com/poteto/ember-changeset/issues/new) if you run into more problems.

[2018-01-28 02:49] #172 closed

[2018-01-28 03:07] nucleartide commented on #171
Your `changes` queue/array idea sounds good.

1. Could you elaborate here? Do you want to trigger a `save` on the entire array of changesets on input?
2. `Changeset` does have a [`merge` function](https://github.com/poteto/ember-changeset#merge) – would that work for you?

[2018-01-28 03:09] nucleartide commented on #163
@remithomas Since it's been awhile, I'm going to close this. Please open a new issue if you're still running into the problem.

[2018-01-28 03:09] #163 closed

[2018-01-28 03:26] nucleartide commented on #161
@matthewvalimaki To be a little cheeky, you could just... not show errors in the UI. 😛  That is, you would not specify errors in the template at all.

Do you have time to write up an Ember Twiddle demonstrating the behavior you want?

[2018-01-29 21:39] Padchi opened #281 "hasMany relationship broken with changeset-validations@1.2.10"
Upgraded `ember-changeset` and `ember-changeset-validations` to the latests versions (1.4.2-beta.0 and 1.2.10) and now every time i access a hasMany relationship i get this weird error:
[code]

and also this:
[code]

Line `39848` in my vendor.js is https://github.com/emberjs/ember.js/blob/bdc2c3e3a15d13d8bb1951d44b1a28ee1c6a36cb/packages/ember-metal/lib/property_get.js#L67

After downgraded `ember

[2018-02-02 14:21] jelhan commented on #281
It's not related to `ember-changeset-validations`. Bug was introduced by `ember-changeset@1.4.2-beta.0`. Here is a simple reproduction: https://ember-twiddle.com/31dad57760c42a665442764c5b96e0f5?fileTreeShown=false&openFiles=twiddle.json%2C

[2018-02-02 20:03] erichonkanen opened #282 "Feature Request: A way to remove errors without rolling back"
In our form component and app we have a concept of `non_field_errors` which get returned from the api (default django-rest-framework behavior). These errors are "form-level" and not tied to a specific field.

To keep things simple we use our changeset form to display these if they occur by doing something like:
[code]
which if `err` === `non_field_errors`, our form template will render at the top

[2018-02-04 13:44] nucleartide opened #283 "Add `all-contributors-cli`"
https://www.npmjs.com/package/all-contributors-cli

With EmberConf coming up, I'd like to start delegating issues to other contributors and recognizing contributors for their work. I've been in touch with @jenweber re: the Contributors Workshop, and she'll be constructing a query for `good first contribution` labeled issues across many repos. So I've been triaging issues on the backlog to get a se

[2018-02-05 04:52] nucleartide commented on #282
Thanks for the detailed writeup @erichonkanen, this sounds reasonable to me.

My only concern is that I don't remember (off the top of my head) if `changes` and `errors` are mutually exclusive. Here's what I mean:

[code]

If `changes` and `errors` are mutually exclusive, then feel free to open a PR for this! Maybe something like `changeset.rollback({ onlyErrors: true });`?

[2018-02-05 05:24] nucleartide opened #284 "Add examples (contributors welcome!)"
This ties into #171 – we should start building more examples in the vein of @poteto's original [Twiddle](http://bit.ly/ember-changeset-demo). It might just be me, but maintaining this addon without using it in a project feels somewhat pointless and demotivating.

As a future direction, I'd like to focus on how `ember-changeset` enables certain [form UX patterns](https://www.google.com/search?q=bea

[2018-02-07 17:07] erichonkanen commented on #272
I just encountered the same error using:
ember-changeset-validations@1.2.10
ember-changeset@1.4.2-beta.0

The error occurs after I submit a form, a specific field receives a backend error, I update and resubmit the **3rd** time.
![image](https://user-images.githubusercontent.com/230757/35930194-22c84a80-0be6-11e8-93cd-610efd810245.png)

Here is the abbreviated submit function:
[code]
It fails on t

[2018-02-08 10:48] nucleartide commented on #272
@BillyRayPreachersSon @erichonkanen Sorry guys, this bug looks pretty serious but I haven't had time lately to work on these issues.

If either of you have the time, would you mind looking into a fix? I'll also prioritize this as something to work on, but no promises.

[2018-02-08 18:08] aonawale commented on #154
Any update on this? I'm having the same issue.

[2018-02-10 22:32] nucleartide opened #285 "Discussion of ember-changeset's plugin mechanism"
Based off of the discussion in https://github.com/poteto/ember-deep-set/pull/10, I've been thinking about how to make maintenance of `ember-changeset`'s plugin ecosystem less painful. I think it helps to start with a few diagrams.

This is `ember-changeset`'s ecosystem as it looks today, with arrows representing `"dependencies"` in `package.json`.

![changeset_graph](https://user-images.githubuser

[2018-02-10 22:33] nucleartide commented on #209
Now that [ember-cli-typescript](https://github.com/typed-ember/ember-cli-typescript#using-ember-cli-typescript-with-ember-cli-addons) has some documentation about usage in addons, we should consider moving our Flow comments over to TypeScript.

[2018-02-11 12:44] fran-worley commented on #188
@nucleartide sorry to bump an old thread, but I too am trying to get ember changesets to work with ember-data-model-fragments.

Weirdly, my changeset doesn't seem to be picking up the fragment properties even though they can be accessed like any other sub property `model.address.country == 'England'` but `changeset.address.country == undefined`.

I get that you might not want to add any special ha

[2018-02-11 14:49] nucleartide commented on #188
@fran-worley Ah interesting, will reopen this then. If possible, would you mind reproducing the issue by adding a failing test to `ember-changeset`? It should be possible to include `ember-data-model-fragments` in `devDependencies` for this purpose.

I'll be around for the rest of the weekend to review anything, but the upcoming week is kinda busy for me with a company hackathon coming up.

[2018-02-17 21:12] #275 closed

[2018-02-17 21:12] #278 closed

[2018-02-18 00:11] nucleartide commented on #283
So `all-contributors-cli` isn't super automated yet. :(

Referencing this issue for posterity: https://github.com/jfmengels/all-contributors-cli/issues/49

[2018-02-19 15:38] #272 closed

[2018-02-19 22:46] nucleartide commented on #283
Another thought: I've noticed that OpenCollective generates contributor list images. (See [Parcel](https://github.com/parcel-bundler/parcel/blob/master/README.md#contributors) for an example.) Short of [applying to create a collective](https://opencollective.com/opensource/apply), it'd be interesting to create a microservice that generates these images, in the vein of [GitHub polls](https://github

[2018-02-22 01:54] #139 closed

[2018-02-22 22:17] cristinawithout commented on #102
I have the same use-case for validating serial numbers.
I've looked at the skipValidate. It _can_ work but because it applies to the entire changeset and not just a single property, it makes it a hassle to trigger validation on that one property only after debouncing but keep validation on all other properties as they're modified.

[2018-02-22 22:51] danwenzel opened #289 "1.4.2-beta-1 causes several errors related to ember.get vs changeset.get"
## Version 1.4.2-beta-1 (depended on by `ember-changeset-validations@1.2.11`

When upgrading `ember-changeset-validations` to 1.2.11, we are experiencing several errors when trying to get properties of changesets.

We get errors in js files like: `startDateTime.format is not a function`

We also get errors when referencing sub-properties of changesets in templates.  For example:

[code]

...gives

[2018-02-26 10:36] mukk85 commented on #281
Any workarounds for this?

[2018-02-26 11:05] mukk85 commented on #289
Looks like the same issue as #281

[2018-02-26 12:46] nucleartide commented on #281
@mukk85 workaround is to use a non-beta release for now, sadly. I would also appreciate any pull requests addressing this bug!

[2018-02-26 12:55] nucleartide commented on #289
@danwenzel Thanks for the report - you’ve raised some usability issues I hadn’t considered. The primary reason why the docs suggest `changeset.get` is to hide some of the implementation details for nested keys. Since it is a _beta_ release, some bugs are to be expected.

I would go back and use the 1.3.x versions of ember-changeset for now. And if you have any suggestions for how to fix this, plea

[2018-02-26 12:57] mukk85 commented on #281
I tried to downgrade to ember-changeset-validations 1.2.9 and it was still occuring. Which version would you recommend?

[2018-02-26 13:29] nucleartide commented on #281
@mukk85 The latest version of e-c-v has a more lax version req.

[2018-02-26 14:43] danwenzel commented on #289
Thanks, @nucleartide . Our issue stemmed from the fact that the latest `ember-changeset-validations` depends on this beta version.  I just filed an issue over there.

[2018-02-26 15:24] nucleartide commented on #281
Oh sorry, I must have rolled that change back because of an installation issue. Will have to investigate that later.

[2018-02-26 15:36] jelhan commented on #281
If using yarn, you could enfore a specific version even for sub-dependencies using `resolutions` key in your `package.json`. Feature is called [Selective dependency resolutions
](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/). You could use that one to enforce `ember-changeset@1.4.1` even if ember-changeset-validations requests `ember-changeset@1.4.2-beta.1`.

[2018-02-27 02:48] mukk85 commented on #289
@danwenzel Per the comment in 218, if you are using yarn add the following to your package.json and it will load a version without this bug.

`"resolutions":` {
	"ember-changeset-validations/**/ember-changeset": "1.4.1"
}`

[2018-02-27 02:49] mukk85 commented on #281
Thanks @jelhan. That is a good temporary solution!

[2018-02-27 11:12] nucleartide commented on #289
I would also use `1.3.0`, since `1.4.1` has a few bugs as well.

[2018-03-05 02:40] viniciussbs commented on #174
I like the idea of warnings but I think they should no be mixed with errors. Maybe provide an API similar to the error's API.

- `warning`
- `warnings`
- `addWarning`
- `pushWarnings`
- and so on

[2018-03-06 04:15] NLincoln commented on #154
I've found a minimal repro of what I believe is the same issue https://ember-twiddle.com/343eb036473f83a8332cb83d6a878497?openFiles=twiddle.json%2C

[2018-03-08 17:44] ryanlabouve commented on #209
Yo @nucleartide, I'd love to help move `ember-changeset` towards typescript instead of flow. Are you still wanting help with this?

[2018-03-08 17:54] nucleartide commented on #209
@ryanlabouve Yeah I'd love some help! In particular, I feel like the TypeScript ember-data typings would suss out a lot of the bugs between ED relationships and nested keys.

If you have the time, lemme know how you plan to approach things. I'm very open to a PR for this.

[2018-03-08 17:59] ryanlabouve commented on #209
Perhaps we can remove flow in 1 PR and then open up an epic issue to allow us to introduce typescript typings in small chunks?

[2018-03-08 18:24] nucleartide commented on #209
We should be able to introduce TypeScript without touching Flow, since all the Flow annotations are wrapped in comments. So both Flow and TypeScript would live side-by-side until we remove all the Flow annotations.

[2018-03-10 20:06] danielrestrepo opened #290 "No validation with complex model attributes"
Hi, I know this has been largely discussed on other issues but I can't manage to get proper support for nested keys validation. Not long ago I had it working like this in a validator:

[code]
Also tried with:
[code]
But in any case the validation results in having it `undefined`

## Version
1.4.1 and v1.5.0-beta.0

Very much appreciate if I you can provide an example

[2018-03-13 22:59] jordpo commented on #281
👍 on the temp solution via package.json's `resolutions`. As a note, you have to have the latest version of Yarn to take advantage of it.

[2018-03-14 23:30] nucleartide opened #291 "Add ember-cli-addon-docs site"

[2018-03-24 07:13] bgentry commented on #178
The example in that Twiddle doesn't actually work. If you use that method, then the changeset's `obj`, `validationMap`, etc are all fixed to the default values and there is no way to change them. It does not appear that the Changeset class is actually extensible.

Is that intentional? Does it need to be that way?

[2018-03-24 12:29] lolmaus commented on #188
I'm using `ember-data-model-fragments` as well, it's a very popular addon. It has a bit more GitHub stars than `ember-changeset`, ~30% more npm installs and twice the number of observers.

I believe the compatibility between the two addons is important.

[2018-05-03 18:14] Mithrilhall opened #294 "changeset.rollback works the first time only"
I threw together a sample project for testing nested keys and noticed an issue with the rollback method.

## Version
1.5.0-beta.0

## Test Case
https://github.com/Mithrilhall/changeset-test-nested.git

## Steps to reproduce
[code]

## Expected Behavior
Clicking the **restore** button should rollback all values.
## Actual Behavior
The **restore/rollback** button should rollback changeset and appear

[2018-05-11 10:00] lougreenwood opened #295 "Introspect relationship type of changes field?"
Hi,

Using only the changeset, is it possible to introspect whether some field is `belongsTo` or `hasMany`?

Cheers

[2018-05-11 10:03] lougreenwood commented on #295
Simply, I'm just trying to write code which does a `.pushObject` if it's hasMany or a `.set()` if it's belongsTo...

Perhaps there's an alternate way of achieving this without introspecting relationship type? Perhaps using `instanceof`?

[2018-05-11 10:13] lougreenwood commented on #284
I implemented a simple `changeset-store` service recently - this allows me to re-use the same form component in multiple places, but have each instance of the component share the same changes for a given model.

It allows for forms in modals and 'hide' behaviour where a user may make a change to a form, hid the form to go get some other info then re-open for the form on some other page.

Usually,

[2018-05-16 00:40] bentesha commented on #294
@Mithrilhall the `rollback()` method does not define any parameters. You should use the `restore()` method instead, and pass in the snapshot object.

However, both `restore()` and `rollback()` methods, when correctly used, do seem to work only with the first click. Any further changes are not being restored. This is possibly a bug

[2018-05-16 13:26] Mithrilhall commented on #294
@bentesha I tried doing a _changeset.restore(this.snapshot);_ and I never get my original values back; but it does clear the errors.

_changeset.rollback()_ clears the errors and restores my values but only the first time for nested values.

[2018-05-16 16:33] bentesha commented on #294
@Mithrilhall Yes, `changeset.rollback()` only works for the first time. As this only happens with nested properties, there is a good chance that this is a bug. I will try to look into the code and see if I can find anything.

[2018-05-16 23:45] shankarsridhar commented on #177
I have the same problem. While adding errors manually using `pushErrors` or `addError`, I don't see the changeset's errors updated in the UI although the data when logged in the console, shows up just fine.

[2018-05-18 12:32] bentesha commented on #294
@Mithrilhall I added a few extra tests to check if this is a bug, and it turned out that your issue has to do with how ember works (unfortunately, I don't have enough Ember knowledge to explain this behaviour).

The underlying changeset object is actually mutated in both scenarios, before and after `rollback()` gets called. You can verify this using Ember Inspector. However, for some reasons, the

[2018-05-23 19:38] Mithrilhall commented on #294
Could one of you mark this as a bug (@nucleartide or @poteto)?

[2018-05-29 19:04] lougreenwood opened #296 "Possible to check if key has validator"
I'd like to check if a given changes key/field has a validator loaded into the validator map.

I've had a look at the docs & src, but I see no obvious way to discover this...

My goal is to programatically style inputs which are "validateable" fields which are valid/invalid and ignore those fields which have no validation rules.

[2018-05-30 06:11] bgentry opened #297 "long-running promise validations cause UI delays, unpredictable results"
## Version

v1.5.0-beta.0

## Test Case

I believe I've uncovered a flaw in the design of this addon around how it handles promise-based validations. Take the following `<input >` wired up to a changeset:

[code]

Simple scenario. Now imagine you're validating that email against a remote server, i.e. the promise will take awhile and the duration will of course be variable.

When you set a property

[2018-05-30 08:40] bgentry commented on #297
I think I have a promising lead on solving this! My solution involves a couple of key changes:

* rather than `_validateAndSet`, do `_setAndValidate`. Immediately set the new value on `_changes` before starting the validation.
* Validate using ember-concurrency, ensuring that only one validation of each property is running at a time. I created a `PropertyValidator` object type for this:

[code]

T

[2018-05-30 13:39] sukima commented on #297
Although it could be argued that the setting being delayed till after validations is a bug (and I agree) there is a simpler work around which is to set the changeset's config to `skipValidations` this way the input changes immediately. You then attach an `onInput` or `onChange` event which performs a restartable task that calls the changeset's `validate()` method.

[2018-05-30 18:53] bgentry commented on #297
I've been putting together a fix for this, and I realized I'm confused about a core principle of ember-changeset. As stated in the readme:

Or, restated by [this test](https://github.com/poteto/ember-changeset/blob/353d0e5822efca3104a2b147e47608bc0176e440/tests/unit/changeset-test.js#L334-L351)

Also from the readme:

Now, that last part makes perfect sense. I don't want any invalid changes to app

[2018-06-06 17:31] shankarsridhar opened #298 "Can we have an uncast method ?"
It would be nice to have a `uncast` method, as a complimentary method to `cast` method that exists already.

**Reason I find this useful:**
I have a form with many fields, and only one of the field, need to be conditionally removed from, or added to, the changeset, based on user selection.

While this can be achieved using the `cast()` method, having an `uncast()` method would make the implementat

[2018-06-12 04:04] nucleartide opened #299 "Call for maintainers & an apology"
Hey folks,

Sorry for being unresponsive over the past couple months. I wish I could say it was because of work, but to be honest I just haven’t prioritized maintaining this addon (and related addons).

So, I’d like to step down as a maintainer. @poteto and @Dhaulagiri (I believe you’re also a collaborator), would you be open to finding more maintainers?

While `ember-changeset` is mostly usable o

[2018-06-13 14:33] Dhaulagiri commented on #299
I was only recently added as a maintainer and I don't have all that much time to contribute new work myself unfortunately, but my main goal is to ensure that the addon is in a consistent working state. 👍  to getting more folks involved who are interested.

[2018-06-19 22:22] roberkules commented on #188
+1, same here (using ember-data-model-fragments and ember-changeset)

[2018-06-22 20:44] snewcomer commented on #299
@Dhaulagiri Also if you would be interested in pairing on setting relationships bug, it would be great to work with someone on it.  Currently seeing if I can flush out a solution, but might take some time...

[2018-06-23 15:14] snewcomer commented on #297
@bgentry I would also consider this a bug.  Generally, I think 1.5 should fix this and setting relationships.  Before `execute`ing those changes, one can/should to call `validate()` and this could be documented.  Something like:

[code]

On your point, I think fundamentally `changes` should represent all changes, whether valid or not.  Anything upstream that happens simply throws out invalid chang

[2018-06-25 21:28] sukima commented on #297
There is a major problem with this statement! How can the state of the UI be represented in the changeset if it never allows invalid input?

[code]

In this situation it would be impossible to enter text if the changeset refuses to set invalid data, would it not? I'm not sure how this would work in ember.

I do see not applying the changes (`execute()`) if the changeset is invalid, that makes sens

[2018-07-03 17:35] cottrellio commented on #138
I just ran into this problem with a nested array of complex objects. I used the above workaround but I did a deep copy on the array of objects:
[code]
Then, in my rollback action, I had to do the same again (Or else rollback will only work once):
[code]

[2018-07-03 17:49] snewcomer commented on #138
@cottrellio what version are you using?

[2018-07-03 17:51] cottrellio commented on #138
@snewcomer I'm on `"ember-changeset": "^1.5.0-beta.0",`

[2018-07-05 15:38] mhluska commented on #177
For those coming here wondering how to hack around this issue, you just need to add `changeset.notifyPropertyChange('_errors');` after the server error updates:

[code]

[2018-07-06 16:47] snewcomer commented on #281
@Padchi @jordpo @mukk85 Would you mind seeing if this error still persists with the latest master?  Putting together a 1.5 tracking release issue as well and want to know if I should include this issue in there.

[2018-07-06 16:48] snewcomer commented on #238
@huberts Would you mind trying out the latest master and lmk if you have any issues?  I think this might be fixed with the latest master.

[2018-07-06 16:52] snewcomer commented on #200
@nkgm So is the intended effect here to ensure all validators, async or not have resolved before determining the changesets validation is done?  This seems reasonable...

[2018-07-06 16:55] snewcomer opened #301 "1.5.0 release tracker"
`1.5` Rough order of importance -

- [x] fix relationship setter
- [ ] https://github.com/poteto/ember-changeset/issues/297
- [x] https://github.com/poteto/ember-changeset/issues/281
- [x] https://github.com/poteto/ember-changeset/issues/298
- [x] https://github.com/poteto/ember-changeset/issues/282

Maybe?

- [ ] https://github.com/poteto/ember-changeset/issues/200
- [ ] https://github.com/poteto

[2018-07-07 19:27] cah-briangantzler opened #302 "Recursive issue with applying changes"
## Version
1.4.1 as required by ember-changeset-cp-validations

## Test Case

## Steps to reproduce
one of the values changed is an ember data model i.e. a belongs-to on a model

## Expected Behavior
not an error

## Actual Behavior
When applying the changes to the underlying model, there is a function that gets called _allKeys that is recursively looking for all the keys on the changes object. Si

[2018-07-08 00:28] snewcomer commented on #302
@cah-briangantzler Do you think we need to udpate ember-changeset-cp-validations?

Working on getting a 1.5.0 release out, but might not be soon.  Recently fixed setting relationships on changesets in master so I'd be happy to work on that addon as well to make sure they are compatible.

[2018-07-08 14:21] cah-briangantzler commented on #302
Im looking at the code, and the only place _allKeys is being used is in the execute method. In 1.4.1 Im not sure what the reset properties is doing but it looks like you could just replace the 1.4.1 execute with the master execute and that should solve the problem for a 1.4.2 release before getting the 1.5.0 finished

[2018-07-11 14:42] snewcomer commented on #299
@psteininger Relationships issue is fixed on master 🎉

Also there is a `1.5.0 release` issue #301 that we are focused on that would be great to get some more movement on!

[2018-07-12 00:05] snewcomer commented on #297
@bgentry Below is pt. 1 to fixing this issue.  Lmk what you think!  Will be testing out in my app tonight.  Looking at the promise stuff now as well.

@sukima I think it only works with one way inputs `<input`, not two way.  So the example you posted I *think* won't work.  But with `<input`, it will.

https://github.com/poteto/ember-changeset/pull/303

[2018-07-12 05:03] snewcomer commented on #297
Note I don't think #303 solves the "pausing" issue in your case.  I do a similar thing [here](https://github.com/snewcomer/ember-validated-input/blob/master/addon/components/validated-input.js#L48) so perhaps we either need an "Tips and Tricks" section or, like you mentioned an addon....

https://github.com/snewcomer/ember-validated-input

[2018-07-12 21:39] MuseofMoose opened #304 "content.save error not caught via promise-chaining"
Version 1.5.0-beta.0

I have a block of code that is something like this:
[code]

My ember-data entity was in an invalid state so when `changeset.save()` (and subsequently `content.save()`) was called, an error was thrown (as expected). The problem, however, was that the error was not caught by the `.catch()` and was directly dumped into the browser console. Wrapping changeset.save() in a try/catc

[2018-07-19 00:31] brigham-hausman commented on #304
Same problem here. Adding more fuel to the fire is the fact that the error thrown to the browser does not provide any useful details:
"Assertion Failed: [ember-deep-set] non-object passed in"
Is it possible to at least provide the broken property key?

[2018-07-26 09:03] JhonM commented on #149
Hello, i'm also running into this error. Any updates on this issue?

[2018-07-26 20:12] tinyweasel commented on #149
That was my issue too, mocks weren't being properly loaded.

[2018-07-30 17:06] #142 closed

[2018-08-06 03:43] snewcomer commented on #304
@MuseofMoose @jelhan So the promise returned by save is wrapped in `resolve` for non promise content.

[code]

[2018-08-06 04:07] snewcomer commented on #304
@jelhan @MuseofMoose (sry accidentally closed) - So the resolve is there to protect from a value that is either a value or promise.

Since `save` rejects, the Promise is in a rejected state, so it finds the closest handler, which is the `then`, without a `catch` clause.  It seems we want to rethrow in the middle of the chain...

[code]

[2018-08-06 09:16] urbany commented on #304
I'm not sure it's ebcause of the wrapping resolve(), because:
[code]

So it should just return the underlying save promise.

[2018-08-06 14:18] snewcomer commented on #304
@MuseofMoose Was the ember-data invalid state caused by a failed xhr?  I failed to mention above that we already have a test for `failed proxy content` [here](https://github.com/poteto/ember-changeset/blob/master/tests/unit/changeset-test.js#L711).

What was the specific error?  Is this something easily reproducible?

[2018-08-06 15:10] jelhan commented on #304
Totally missed the return. Updated the ember-twiddle and everything is working as expected: https://ember-twiddle.com/5e4c09e0469123592170cf38ef6414d2?openFiles=controllers.application.js%2C

[2018-08-07 05:28] snewcomer commented on #282
I'll try to get this one done this week...

[2018-08-08 04:26] erichonkanen commented on #282
@snewcomer I hadn't seen those before, let me try those out and get back to you.. but basically we handle form-level errors in our changeset form by doing `changeset.pushError({ non_field_error: <error> })` which displays the error as part of our normal form component machinery, the problem is we now need to clear that non_field_error before user hits submit again, but there wasn't a way to do it

[2018-08-08 05:10] snewcomer commented on #282
@erichonkanen Yeah it seems like `rollbackInvalid` is close to what you want.  But perhaps want to rollback a specific key but keep the changes, correct?  In which case, we need to add a bit more flavor to `rollbackInvalid`.

[2018-08-08 16:59] shankarsridhar commented on #298
I ended up having a new whitelist, and using the existing `cast()` method. Thanks anyways, @snewcomer,

[2018-08-08 16:59] #298 closed

[2018-08-08 21:11] #282 closed

[2018-08-09 05:02] snewcomer commented on #296
@lougreenwood Are you passing a validation map to the changeset (3rd argument)?  If not, I'm not sure this is possible since validation will then come from a validator function, which just runs the value you are trying to set through the supplied function.

If you are passing the validation map through, we could set that as state on the changeset for you to later retrieve.  But then in that case,

[2018-08-09 14:41] A-Industry commented on #102
Does anybody have a workaround for this issue? Because right now async validations on uniqueness seem te be useless because of the strange way the input field is working with an async validator attached to it..

[2018-08-09 16:41] jelhan commented on #229
I don't think this is fixed. Here is a reproduction for `v1.5.0-beta.0`: https://ember-twiddle.com/f38bf913c6c44079ba0c84c148cc9f05?openFiles=templates.application.hbs%2C It's the same if you downgrade ember-changeset to `1.4.2-beta.0`.

If accessing the moment object throw changeset (e.g. using `moment-format` helper as in twiddle) this is blowing up due to `.get()` assertion:

[code]

Please not

[2018-08-11 22:35] snewcomer commented on #281
This is fixed in ember-changeset.  Verified by adding, saving, and removing a has many relationship.  Will look to releasing 1.5 proper soon!

Lmk if anybody has another issue!  Will close for now if you don't mind!

[2018-08-13 20:09] snewcomer commented on #297
@sukima @bgentry Invalid changes should now show up in `CHANGES` as of 1.5.0-beta.2!  Might be worthwhile to investigate the async issues here before 1.5 proper.

I personally use `onblur` to do validations, but I can totally see the use case for `oninput`.

https://github.com/poteto/ember-changeset#tips-and-tricks

[2018-08-15 10:36] drummy2 commented on #229
This issue needs re-opening, it seems it has made it's way into the latest release!

[2018-08-15 14:43] snewcomer commented on #229
Agreed.  I'll find time this week to put up a fix if possible.  After that is fixed, let's release 1.5 proper!

[2018-08-15 23:42] snewcomer commented on #229
@PieterJanVdb @drummy2 @jelhan Could somebody look at this test I added in #309 and lmk how it diverges from this issue?  I am asserting that "getting" `startDate` returns the Moment class in the test below.  So I must be missing something.

https://github.com/poteto/ember-changeset/blob/f4017ee4ee5d9b22fb431de5d32434f49a8f9dc9/tests/unit/changeset-test.js#L340

[2018-08-16 11:48] jelhan commented on #229
@snewcomer Your test is fine. While trying to debug I noticed that the bug only occurs if `changeset` template helper is used. Here is another ember-twiddle demonstrating that it's working fine if changeset is constructed in code: https://ember-twiddle.com/eeb4e12e66b114c12e7204b218d359a2?openFiles=templates.application.hbs%2C

This is the ember twiddle showing that it's not working if template he

[2018-08-16 16:02] snewcomer commented on #229
@jelhan I'm a little stumped at the moment.  We have existing tests that say using Ember.get will not give you the actual content and that if using Ember.get, you should get via `.content`.

The issue is that `foo` is set on the `CONTENT` of the changeset.  We return the `relay` instance from the changesets `unknownProperty` method so that we can work with nested keys when `CONTENT` exists on the

[2018-08-21 08:55] jelhan commented on #229
As far as I got it, it's an issue by design. If the original value is an object, a relay is returned: https://github.com/poteto/ember-changeset/blob/v1.5.0-beta.2/addon/index.js#L769-L774 The value is considered an object if ember's [`typeOf`](https://emberjs.com/api/ember/3.3/functions/@ember%2Futils/typeOf) utility considers it as an `object` or `instance`. (https://github.com/poteto/ember-chang

[2018-08-22 16:00] #295 closed

[2018-08-23 02:45] snewcomer commented on #229
@jelhan Hm that may work.  So my only question is what if val is `new Dog` or something like that?  Also, `typeOf` returns the correct types

e.g.
Ember.typeOf([]) === "array"

[2018-08-23 12:53] jelhan commented on #229
It depends:

* `class Dog extends EmberObject{}`: Will return a relay cause `Dog` extends `EmberObject` and therefore `typeof(new Dog()) === 'instance'` is `true`.
* `function Dog() {}`: Will return instance of `Dog` cause `Object.getPrototypeOf(val) === Object.prototype` is `false` (and it's not an instance of `EmberObject`).
* `function Dog() {}; Dog.prototype = Object.prototype`: Will return a

[2018-08-23 15:50] snewcomer commented on #229
Yeah my concern is if the `content` is an instance of `class Dog`.

What we ultimately want is something like this line.  If it is a relay, return the `content` of the relay like we do when overriding the `changeset.get`.
https://github.com/poteto/ember-changeset/blob/master/addon/index.js#L861

[2018-08-24 05:42] snewcomer commented on #229
I'm starting to wonder if we need to rethink or rejigger how `relays` interact with changesets.  I'm not sure the limitation of only using `changeset.get` is acceptable.  Also relays provide a very powerful nested key implementation, but using `get(...` is one big headache :hurtrealbad:

[2018-08-24 15:13] snewcomer commented on #294
@Mithrilhall Thx for the reproduction!  I just put up #310.  One of the tests is that rollback twice works.  There more to add here, but thought we would start there.  I think there is some more assertions to add to fully reproduce your case.

[2018-08-26 04:27] snewcomer commented on #161
https://github.com/poteto/ember-changeset#tips-and-tricks

@matthewvalimaki @roberkules See the tips and tricks section.  Essentially you use a snapshot :)

[2018-08-26 04:32] snewcomer commented on #133
Nested object support is in > 1.4

[2018-08-26 04:32] #133 closed

[2018-08-26 04:34] snewcomer commented on #299
I love all the work that has gone into this addon from ppl before 🙇 .  Hopefully 1.5.0 release this week!

[2018-08-26 04:34] #299 closed

[2018-08-26 04:37] snewcomer commented on #229
Going to close for now!  Lmk if anybody has any questions!

[2018-08-26 16:31] snewcomer commented on #304
We might need a bit more information to tackle this one.  Will close this later in the week if we can't get further details.

[2018-08-26 16:40] snewcomer commented on #177
I see this is a potential bug.  Here is a PR #311 to fix that.  Regarding the notifications, I believe we are "notifying" correctly (at least on the latest master).  Lmk if anybody sees anything differently 👍

[2018-08-28 02:52] #177 closed

[2018-08-29 13:55] m-nagy commented on #281
I still have the same issue after upgrading to changeset ^1.5.0 and changeset validation ^1.3.0

[2018-08-30 03:53] snewcomer commented on #281
@m-nagy Would you mind posting a reproduction or example code so we can help?  I've tested both belongsTo and hasMany relationships in my own apps.

[2018-09-02 08:06] jelhan commented on #229
What scenarios should be considered fixed? Using a moment instance stored in a changeset with moment helpers still throws using 1.5.0. This was the scenario in my first ember twiddle. You tried to update the version of ember-changeset but it still throws.

Please note that this is a regression added 1.4.x. The twiddle is working fine with 1.3.0.

[2018-09-06 06:26] jelhan commented on #229
The tests does not address the issue shown in the twiddle. I'm not quite sure what they are for, but they do not test that there aren't any relays involved in template.

Let me give some more insight what [these ember twiddle](https://ember-twiddle.com/f38bf913c6c44079ba0c84c148cc9f05?openFiles=templates.application.hbs%2C) does:
* It constructs a new changeset with a hash that contains a moment i

[2018-09-06 15:20] snewcomer commented on #229
@jelhan I see.  Yep the parens are needed 👍 thx.  I was mistaken.  Accessing the `date` key on the changeset is the same issue b/c it uses `get(...` internally.

Truthfully there are use cases for which the `Relay` are not solved for (because of which I will be testing out just plain Proxy's after October).

You are 100% right that we could scope this to only POJOs and EmberObjects.  I think at a

[2018-09-07 13:07] lukaiser commented on #281
@snewcomer: I have the same problem.
If you update @jelhan twiddle to the newest version it doesn't work either:  https://ember-twiddle.com/1b34e71c35c1091fe11ff34f12636fe7

Have you tested it with a template? The tests are all with out one if I am correct. Maybe it has something to do with the glimmer getter.

[2018-09-07 15:06] snewcomer commented on #281
Sadly I haven't used it this way in my apps but I am sure you are right wrt to the getter.

Alright, well time to re-evaluate this Relay thing.  Requiring .get is not feasible for the new modern Ember.  I'm sorry everyone.  Perhaps was a good idea while it lasted.  Will try to evaluate removing Relay/using plain Proxy (w/ polyfill) for now...

[2018-09-07 15:08] snewcomer commented on #281
There will be downsides to not using a Relay, but we will see where we can get to support nested objects.

[2018-09-08 22:50] nickschot opened #315 "belongsTo not properly emptying when set to `null`"
## Version

1.5.0

## Test Case

#314

## Steps to reproduce

I first spotted this in a changeset powered ember-bootstrap form w/ a power-select for (re)setting a belongsTo relationship. Works fine on 1.3.0.

## Expected Behavior

The relationship is emptied properly.

## Actual Behavior

It is not emptied :(

[2018-09-08 23:10] nickschot commented on #315
Found the piece of code that causes this:

https://github.com/poteto/ember-changeset/blob/7bda87b2ae8f07754f7d07a122fe2efc4800918f/addon/index.js#L767-L771

[2018-09-11 05:17] snewcomer opened #317 "RFC: v2.0"
This issue is to track looking into and potentially removing the Relay [implementation](https://github.com/poteto/ember-changeset/blob/master/addon/-private/relay.js).  I was not around when this was implemented but to the best of my knowledge, when trying to set a nested property/get a nested property, the Ember proxy is recursively called with each successive key.

GIven that we can't have nativ

[2018-09-11 20:47] nickschot commented on #315
@snewcomer is there a need to relay anyway if the new value is not an object (mainly `null`)?

[2018-09-20 12:46] mhluska commented on #199
I'm experiencing this too. I guess this was never resolved?

[2018-09-20 15:04] snewcomer commented on #199
@mhluska What version of ember-changeset are you on?

FYI - sometime in October I plan on tackling some larger issues here and hopefully resolve the issue of getting at things via `content`.

[2018-09-20 16:05] mhluska commented on #199
@snewcomer ember-changeset 1.5.0-beta.0 and ember-changeset-validations 1.2.11

[2018-09-21 04:42] mhluska commented on #177
@snewcomer the PR didn't fix the issue for me in v1.5.0. I still have to do my `changeset.notifyPropertyChange('_errors');` to get server errors to appear.

[2018-09-21 05:04] mhluska commented on #177
@snewcomer the PR doesn't seem to fix the issue for me on v1.5.0. I still have to use my `changeset.notifyPropertyChange('_errors');` hack above to get server errors to appear. Granted it could be a different issue.

[2018-09-22 14:35] snewcomer commented on #289
Just for documentation purposes, this proxy implementation (due to nested keys support) has created many a problems.  Sometime in October, I plan on refactoring this out.

#317

[2018-09-28 02:07] erichonkanen commented on #281
Just upgraded to latest and my acceptance tests are breaking with this error:
[code]

[2018-10-09 17:02] jaydev commented on #102
this worked for me
https://gist.github.com/alexdiliberto/b3cf1bee63d93980aec56b7aeb0369f6

[2018-10-10 20:10] 0xadada opened #319 "update ember-deep-set dependency"
the `ember-deep-set` direct dependency has been updated, this consumer should resolve the new dependency.

[2018-10-19 13:53] andrewfan opened #321 "This line blocks reseting nested object probery"
In my application I have an object with text property
[code]

In template I'm modifiing the whole object with `mut` helper
everything works fine when text string is not empty, when it is empty  I'm receving the original object
I think it break here
https://github.com/poteto/ember-changeset/blob/462e677eea3d71f0ca1335ff4b08f8c5786a1604/addon/index.js#L786

[2018-10-19 15:45] snewcomer commented on #321
@andrewfan What does `result` resolve to for you?  I'd accept a PR though!  I myself am kind of avoiding patch PR's for now.  Going through a rewrite in the next month or so to fix many of issues here.

`1.3.0`  is a good version to stick to. 👍

[2018-10-19 15:47] snewcomer commented on #301
Note - bailing on 1.5 and moving to 1.6.  Need to fix some more inherent problems with our relay implementation.

[2018-10-19 16:13] snewcomer opened #322 "RFC: Pt. 1 - Remove Relay Implementation"
First step is to remove our relay implementation that is/was important for nested setters.  However, I think the issues that have resulted make it necessary to rethink && simplify this addon to get back to a reasonable state.

**Notes on code structure**
[Here](https://github.com/poteto/ember-changeset/blob/master/addon/-private/relay.js) is the relay implementation.  Essentially this is an Object

[2018-10-19 16:14] snewcomer opened #323 "RFC: Pt. 2 - Migrate to Typescript"
Remove Flow implementation and convert to Typescript addon for better ease of maintenance in the future.

This may be of some help: https://www.twitch.tv/videos/317598546

Ref #317 https://github.com/poteto/ember-changeset/issues/322

[2018-10-19 16:14] snewcomer opened #324 "RFC: Pt. 3 - Evaluate use of native Proxy"
This is just an evaluation step.  Not necessarily saying we should go with it.  Need to evaluate after removing Relay implementation.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy

Downside is no IE support

Ref #317 https://github.com/poteto/ember-changeset/issues/323 https://github.com/poteto/ember-changeset/issues/322

[2018-10-19 16:41] #319 closed

[2018-10-20 18:51] GCorbel commented on #118
Any updates on this subject? It would be nice to create chance set for each hasMany relationships.

[2018-10-20 20:04] GCorbel commented on #281
I have the same issue with :

[2018-10-20 21:12] snewcomer commented on #118
@GCorbel Currently going through a rewrite to solve issues.  Will circle back when that is done.

[2018-10-20 21:15] GCorbel commented on #118
Nice. Just to know, because I need it for my current project, do you think it will take a long time?

[2018-10-20 22:59] snewcomer commented on #118
@GCorbel Using version `1.3.0` should be perfectly fine for most cases.  After this version, a concept called `Relay` was added for nested key setter support.  However, that has caused pain in a variety of uses cases.  So `2.0.0` will try to get back to`1.3.0` + lots of improvements.

Hopefully by mid-November but no promises :trollface:

[2018-10-20 23:01] GCorbel commented on #118
Thanks, I will try with 1.3.0. Let me know if I can help.

[2018-10-23 11:58] curtu commented on #188
is someone working on this ?

[2018-11-05 23:33] snewcomer commented on #322
closed by #326

[2018-11-05 23:33] #322 closed

[2018-11-05 23:47] snewcomer commented on #323
@dorilla - I think step one here would be to remove the flow implementation first.  Then migrate to typescript.  Did a bunch over the weekend on a typescript addon and love it!  Most likely a good fit here.

Another route is we remove the Flow implementation and leave the Typescript migration for another day after we investigate the `skipped` tests (nested implementation).  But I think one goal of

[2018-11-05 23:51] dorilla commented on #323
@snewcomer Sounds good, I can get started on the Typescript migration this week.

[2018-11-11 00:09] poteto commented on #324
I investigated this in https://github.com/poteto/validated-proxy, but gave up on it as there wasn't an obvious way to handle async sets and return a promise. I may have missed something though.

[2018-11-11 04:47] snewcomer commented on #317
Just an update so far!  `2.0-beta branch created

Pt. 1 merged into `2.0-beta` branch.
https://github.com/poteto/ember-changeset/issues/322

Pt. 2 a work in progress by @dorilla!

[2018-11-26 13:07] nickschot opened #331 "Saving a changeset does not save nested models"
## Version 1.3 and 1.5

## Test Case

\-

## Steps to reproduce

When providing a changeset with nested models, the nested model is never saved. Changes on it are detected properly (in the changes array).

## Expected Behavior

Dirty tracking should work properly and save should be called on all models with changes.

## Actual Behavior

 - The `isDirty` flag is not updating (even though the change

[2018-12-13 14:17] nickschot commented on #315
@snewcomer this seems to have broken again for me on 1.6.0 even though the PR #318 is in that release.

[2018-12-13 14:41] snewcomer commented on #315
What release did it last work in?

[2018-12-13 14:44] nickschot commented on #315
1.3, it seems #318 also didn't fix this exact issue as the section of code that's triggered is above that (see a couple comments back). I think the problem is that it only checks if the original is an object and then returns the relay, while the true value is now `null` as it's an empty relationship.

[2018-12-13 22:46] dguettler commented on #238
@snewcomer seems to still be an issue even when pinning to 1.6.0
Also somewhat related `Ember.get('changeset.hasManyRelation')` returns some ember-changeset object which doesn't support any array manipulation.
Versus `changset.get('hasManyRelation')` returns the e.g. ManyArray or whatever the relation is. Which is really a bit confusing especially when used in a template you get the former version

[2018-12-14 01:20] snewcomer commented on #238
Hm.  In regards to the second point, we are getting rid of that `relay` logic.  It is a mess right now.  Currently iterating on this below and hopefully will get a 2.0 out sometime in the next few months.  I'll try to evaluate this issue in 2.0.

https://github.com/poteto/ember-changeset/tree/2.0-beta

[2018-12-18 17:08] #183 closed

[2018-12-25 21:38] snewcomer commented on #199
@roberkules @mhluska Ok I think I solved this [here](https://github.com/poteto/ember-changeset/pull/333/files) (note this is targeting 2.0-beta branch).

[2018-12-31 18:38] snewcomer commented on #281
@abobwhite Do you have an example that you could share (even psuedo code)?  Working on [2.0-beta](https://github.com/poteto/ember-changeset/tree/2.0-beta) branch (try if out if you would like - it might fix your issue) and would like to add a test to ensure this isn't present when we release 2.0!

[2019-01-01 21:13] abobwhite commented on #281
@snewcomer Thanks! The issue is not that of the original thread but it is similar to when @GCorbel mentioned on 10/20/18. I have a changeset build on a model `tag-group` which `@hasMany tags`. Here is my tag-group serializer:
[code]

My snippet of code is trying to iterate over the selected tags via the changeset (I'm using `any` here but I've confirmed other array functions do the same thing).

[

[2019-01-02 12:52] abobwhite commented on #281
After more searching and debugging, it appears it was actually an error during render of the `power-select-multiple` and not actually related to EC at all. Sorry for any confusion.

[2019-01-03 05:53] abobwhite commented on #281
@snewcomer Sorry for the back-and-forth. After even more debugging, I'm no longer sure that it's not EC. I can use the `power-select-multiple` component with no issues with the same setup using regular ember objects and arrays. But when used with the changeset values, I am seeing the issue.

The above code is not where the error happens but rather during render so it's really hard to figure out wh

[2019-01-03 06:13] snewcomer commented on #281
@abobwhite Is it specifically `const tags = changeset.get('tags') || [];`?  What happens if you try `changeset.get('_content.tags')`?  That isn't a solution but just curious if you still get an error.  Or is it the computed cache breaking key `changeset.tags.@each.name`?

[2019-01-03 06:44] abobwhite commented on #281
@snewcomer yes.

It doesn't appear to be the body of the function causing the issue but fwiw, `_content.tags` didn't work, either, however `@computed('tagOptions', 'changeset.tags')` helped the situation and also binding in the template to `changeset.tags.content` did too (I am binding that to the select's `selected` property and the computed `remainingTagOptions` to the `options` property. I am n

[2019-01-07 16:38] snewcomer commented on #321
Nested setters with the `mut` helper will sadly be a paind point until we come up with a better solution.  ONly one that I got working is in JS land.

https://github.com/poteto/ember-changeset/pull/335#issuecomment-451677035

[2019-01-08 04:02] snewcomer commented on #289
Just to notify everyone, `2.0.0-beta.0` has been published for ember-changeset and ember-changeset-validations.  Give it a shot!  @danwenzel

[2019-01-08 04:03] snewcomer commented on #281
Just to notify everyone, `2.0.0-beta.0` has been published for ember-changeset and ember-changeset-validations.  Give it a shot!  @abobwhite

[2019-01-08 04:07] snewcomer commented on #156
Just to notify everyone, `2.0.0-beta.0` has been published for ember-changeset and ember-changeset-validations.  Give it a shot!

[2019-01-08 04:08] snewcomer commented on #149
closing for now!

[2019-01-08 04:08] #149 closed

[2019-01-08 04:09] snewcomer commented on #48
This seems to be mostly completed.  Lmk if anybody else has any more requests!

[2019-01-08 04:09] #48 closed

[2019-01-08 04:09] snewcomer commented on #69
closing for now!

[2019-01-08 04:09] #69 closed

[2019-01-08 04:10] snewcomer commented on #154
Just to notify everyone, `2.0.0-beta.0` has been published for ember-changeset and ember-changeset-validations.  Give it a shot!  @NLincoln

[2019-01-08 04:10] snewcomer commented on #323
This is done!  Hats off to @dorilla!  `2.0.0-beta.0` released!

[2019-01-08 04:10] #323 closed

[2019-01-08 15:16] sevab commented on #229
Not sure if this is related to this issue:

I run a custom validation (via `changeset-validations` addon) on a changeset property with a moment instance.

I then pass the changeset value to ember-power-calendar with `selected=(hash start=changeset.startDate.content end=changeset.endDate.content)`

As I change the dates in the calendar and validation passes, `changeset.momentDate` returns a relay o

[2019-01-08 16:20] snewcomer commented on #229
Just to notify everyone, `2.0.0-beta.0` has been published for ember-changeset and ember-changeset-validations.  Give it a shot!  @sevab i think it might fix your issue but don't quote me on it :)

[2019-01-10 17:44] snewcomer commented on #301
Closing as we are on 2.0.0 track now!

[2019-01-10 17:44] #301 closed

[2019-01-15 20:42] nickschot commented on #331
Will do tomorrow!

[2019-01-16 19:43] nickschot commented on #331
Thanks for pinging me. Below are some initial findings:

- emptying a belongsTo (to null) now correctly clears the value and is detected as a valid change
- Setting a value on a related model is not detected as a change (e.g. model user with a relationship to a post. Make a changeset of the user, have a form with value `post.title`)
- As it is not detected as a change a save is also not triggered

[2019-01-17 20:01] snewcomer commented on #331
@nickschot What does your logic look like?  Does it involve `mut` helper?  If so, perhaps this is related to a recent change we made.  I believe a nested set will add a `CHANGE`, but if using `set(changeset, ...)` then it won't since we override `changeset.set`.  Created a `changeset-set` template helper for this reason.  Although doesn't work completely as expected b/c it isn't propagating those

[2019-01-17 20:09] nickschot commented on #331
Ugh, I knew I forgot something, we even talked about that in the Discord. Ember-bootstrap uses the set indeed. I'm gonna override that and test again. I can come back to you on this next Tuesday.

[2019-01-22 10:13] nickschot commented on #331
@snewcomer it does indeed correctly identify and set changes on nested models when using `changeset.set(.....)`. The main issue is still valid, no `.save()` is called on the nested models.

[2019-02-03 20:53] #317 closed

[2019-02-05 13:52] nickschot opened #339 "[2.0.0] `Cannot read property '_internalModel' of undefined` when saving changeset created off relationship"
## Version

2.0.0

## Test Case

https://ember-twiddle.com/71783e0988666e55502dfdafadc55145
The test case is basically two model instances with a one-to-one relationship. When creating a changeset like `new Changeset(this.model.post)`, save won't work properly on the changeset.

## Steps to reproduce

Click the save button in the twiddle and the error is thrown.

## Expected Behavior

Save works p

[2019-02-05 18:54] sevab commented on #229
@snewcomer all seems to works with 2.0, thanks!

Though In handlebars had to switch
`selected=(hash start=changeset.startDate.content end=changeset.endDate.content)`
 to `selected=(hash start=changeset.startDate end=changeset.endDate)`.

Which is a changed behaviour, but more convenient.

[2019-02-06 04:58] snewcomer commented on #339
@nickschot my initial thought is `changeset` should work with fully resolved models.  But we could `unwrap` it if necessary.  So yeah I agree with your idea. PR?

[2019-02-06 08:52] lougreenwood opened #340 "Does changeset react to changes on the underlying model?"
I have a model for which I am setting some default relationship values.

Because Ember Data has no obvious API for setting default relationship values, I'm using the `DS.model.ready()` hook to set the relationships.

The problem is that ready does not fire immediately after a model is created. So for example, in this code, the model `ready()` is not fired before the changeset is created:

[code]

[2019-02-06 08:57] nickschot commented on #339
Yeah I now remember that was the basic idea. I also still think unwrapping is a good idea. Especially because it's pretty easy to solve within Changeset and relatively hard to do so in a controller or component (afaik the easiest is to fully resolve all models you want to use in the route).

I'll try some more stuff and then create a PR.

[2019-02-06 20:49] snewcomer commented on #339
The trick I use often is to wrap in resolve (to ensure thennable) `return resolve(obj).then(...);` and then performing logic in the callback.

[2019-02-06 23:15] snewcomer commented on #340
This may be a similar flavor of a problem to https://github.com/poteto/ember-changeset/issues/339.

Is `model.ready` promise based?  Otherwise, I'm not sure how we can tell inside of changeset.

[2019-02-07 12:31] nickschot commented on #340
AFAIK changeset itself does not detect changes to the underlying model. I am currently manually creating a new changeset and merging existing unsaved changes into that whenever the model is updated (in the few places where I know the model can be updated based on user interaction outside of the changeset).

[2019-02-07 12:34] nickschot commented on #339
@snewcomer yes that would indeed be the way to make sure .then is available (obj might not be a promise).

The most important thing we need to define is the correct place to do this. I was thinking it would be best to do on initialization, but a quick experiment showed that the changeset itself would not be correctly loaded (init is sync).

Doing it in the `save` method works, but I'm not entirely

[2019-02-07 14:25] jordpo commented on #323
@snewcomer so glad the add-on is on TS now! Thank you!

Do you have an example of usage of the Changeset type in a consuming project? I made a test that is a TS file that imports `Changeset` and I am getting errors around unknown properties, probably related to the proxy nature of changesets. Unknown property `get` and unknown property `errors` - both I use in my tests.

[2019-02-08 01:09] Duder-onomy commented on #229
Just ran across this issue, identical problem to what was described by most (changeset + moment + ember-power-calendar) Version 2.0.0 everything works. Thanks @snewcomer! You rawk.

[2019-02-08 15:41] snewcomer commented on #339
@nickshot does this have broader implications that just the `save` method?

[2019-02-10 21:44] nickschot commented on #339
I am not 100% sure, the changeset is definitely working before fully resolving it. I think by adding it in the `save` method we just add support for passing a relationship and not for records that haven't been loaded yet.

Going to dig a little more this week.

[2019-02-13 04:35] snewcomer commented on #340
That is probably the best route since coupling behaviours too tightly may be outside the scope of this addon.

[2019-02-13 04:37] snewcomer commented on #323
@jordpo Are you on `2.0`?  Looks like I have both of those defined in the `types` [file](https://github.com/poteto/ember-changeset/blob/master/addon/types/index.ts).

[2019-02-13 09:35] lougreenwood commented on #340
So I managed to find a solution where I can set default relationships in ED by overriding the init hook (seems this isn't documented, so I initially went with the `ready` hook).

The init hook means that all default rels are set before the model is passed to EC, which essentially circumvents the problem I initially described.

So yeah, I think we can close this issue since I managed to achieve a m

[2019-02-13 09:35] #340 closed

[2019-02-13 20:22] jordpo commented on #323
Yeah I'm on `2.0` - could be a weird setting on my end.

[2019-02-14 05:34] snewcomer commented on #323
@jordpo Can you paste the error here?  I should get something going in the dummy app in the next few weeks.

[2019-02-14 16:04] hornetnz commented on #282
@erichonkanen - Were you doing a notifyProperty or something else on changeset to get isValid to recompute? I did a removeObject on the error I manually pushed in (leaving an empty array), but changeset.isValid still resolves false.

[2019-02-16 19:28] snewcomer commented on #282
@hornetnz If you don't mind, try 2.0 and lmk if that fixes the issues you are seeing.  Otherwise, definitely open to a PR!

[2019-02-16 23:57] erichonkanen commented on #282
@hornetnz I think I actually had to do something like `changeset.set('non_field_errors', null)` to get it to clear, but I'd have to dig that up again :) also just tried the latest 3.0 and seems to be working finally so thanks @snewcomer :)

[2019-02-19 13:09] hornetnz commented on #282
Ok, thanks for the reply @erichonkanen! I'm unable to upgrade currently because we have some monkey-patches in this changeset to work with our unique data structure.

[2019-02-20 11:59] afinne commented on #331
Can confirm, changes are applied, but `.save()` is not called on nested models.

[2019-02-20 21:33] jasonmevans opened #342 "Deeply nested properties do not trigger template getter on rollback"
## Version
2.0.0

## Test Case
https://github.com/neighborly/changeset-test

## Steps to reproduce
We are building a generalized `form` component based on `ember-changeset` that yields a set of input fields that are automatically bound to the changeset by a `fieldName` property. The `value` of these inputs is bound by a template getter to the `this.fieldName` property within the changeset, and `on

[2019-02-23 19:14] snewcomer commented on #315
I’m guessing this is fixed now as of 2.0z. I’ll close for now but feel free to reopen!

[2019-02-23 19:14] #315 closed

[2019-02-23 19:47] snewcomer commented on #304
The original issue states the Ember data entity is already in an invalid state.  I think we need the shape of this already retired object so we can write a good test to solve this.

[2019-02-23 19:59] snewcomer commented on #342
So just to confirm, reset clears top level properties?  Or does the input values stick around for all types of properties?  (Will 👀 at your demo later.  Thx for that!)

[2019-02-23 20:03] snewcomer commented on #331
@afinne what does the shape of this object with nested models look like?  Seems like this is more common than I think.  I can write a test and see if solvable if you have an example to share!

[2019-02-23 20:40] snewcomer commented on #282
@hornetnz or @erichonkanen is there an opportunity to extend ember-changeset to enable some of these features?  Do you mind sharing those monkey patches?  Looking at improving the internals.

[2019-02-24 01:17] erichonkanen commented on #282
@snewcomer I think in the latest version it's no longer necessary since rollbackProperty was added

[2019-02-24 01:34] snewcomer commented on #282
Cool.  Sry what do you mean...

[2019-02-24 02:24] erichonkanen commented on #282
yeah, the monkey patch I was referencing was for 1.3, no longer necessary

[2019-02-27 17:42] DLiblik opened #344 "ChangeSet does not support direct property-getting"
Looking for an enhancement to support direct property getting on a changeset:

Instead of `changeset.get('myProp')`, support `changeset.myProp`

This appears to is related to the issue discussed here:
https://github.com/emberjs/ember.js/issues/16521

I believe the fix is straightforward and laid out clearly there, but I could be totally wrong!

[2019-03-04 05:57] snewcomer commented on #344
@DLiblik Not sure if it is straightforward or not.  We are implementing our own `unknownProperty` below.  I'm unsure of the behaviour with `.myProp` in Ember, but I do believe it leads to undesirable results.  Perhaps I'll have time to dig in, but if you did as well, would love to experiment with any solutions!

https://github.com/poteto/ember-changeset/blob/master/addon/index.ts#L124

[2019-03-04 12:39] abobwhite commented on #281
I finally got around to upgrading to 2.0.0, @snewcomer and it appears to be working correctly for me now 🎆 🥂

[2019-03-08 14:47] velrest opened #345 "`isPristine` not working after `.execute()`"
## Version
`"ember-changeset": "2.0.0-beta.0"`

## Test Case
https://ember-twiddle.com/6972ac21f4e96f14d444cbab0a52295a?openFiles=controllers.application.js%2C

## Steps to reproduce
- Create a changeset of an object
- Change a value on the changeset
- Call `changeset.execute()`
- `changeset.isPristine` returns false even though the changeset and the original object have the same attributes with t

[2019-03-09 06:16] snewcomer commented on #345
@velrest 👋 let's start here - https://github.com/poteto/ember-changeset/pull/346

I suspect the CHANGES should be empty.  In the case you are looking at, the changes object isn't.  So either we need to change some logic or keep as is and modify the description of what it should represent.  Based on the description, this seems like a bug!

[2019-03-13 13:48] velrest commented on #345
If i understand the word pristine correctly, we should probably change the docs rather than the result since a changeset is pristine if the changeset is equal to the state the model was in upon the changeset's creation.

It is not pristine if a model has the same values as the changeset but the changeset was created on a model with a different state. Please correct me if im wrong as English is not

[2019-04-04 20:31] jasonmevans commented on #342
Hi @snewcomer! Thanks for getting back so quickly, and sorry for the delay!

The reset does clear the top-level properties. Only properties that are nested within an object do not reset. I believe that it is due to the getter that I'm using in the template, and I think that the reset is not triggering the getter to re-compute. I believe if I add another computed property that is actually bound dir

[2019-04-05 18:14] snewcomer commented on #344
I think I will close this for now.  Not sure we want to modify the underlying behaviour of the proxy.  I wish there was an easier solution but not sure at this point.

[2019-04-05 18:14] #344 closed

[2019-04-05 18:30] snewcomer commented on #342
@jasonmevans Checked out the repo and that looks correct.  So `rollback` isn't propagating events to the template. I'm surprised it doesn't b/c we call `notifyPropertyChange(key)` which I would assume would mark `key` as "dirty" and start the Glimmer propagation chain with `get` even though `key` may be a nested path.

I think you are right and is a bug but not sure how to fix.  I'm guessing the c